<div class="flight-location-form">
    <div class="with-dropdown-select" id="from">
        <div class="flight-location-input__container">
            <input type="text" tabindex="0" class="with-dropdown-select__input" name="from" id="from-flight-location" data-param-input="1" required="">
            <input type="hidden" name="from-json" id="fromJSON">
        </div>
        <div class="with-dropdown-select__container flight-location-form__container">
            <!-- <div class="with-dropdown-select__container__options flight-location-form__container__options">
                <p>MNL</p>
            </div> -->
        </div>
    </div>
    <!-- <div class="swap-flights">
        <button class="swap-btn" type="button">
            <i class="fa-solid fa-arrow-right-arrow-left"></i>
        </button>
    </div> -->

    <div class="with-dropdown-select" id="to">
        <div class="flight-location-input__container">
            <input type="text" tabindex="0" class="with-dropdown-select__input" name="to" id="to-flight-location" data-param-input="1" required="">
            <input type="hidden" name="to-json" id="toJSON">
        </div>
        <div class="with-dropdown-select__container flight-location-form__container">
        </div>
    </div>
    <div class="with-dropdown-select flight-date-form__container">
        <input type="date" tabindex="0" class="with-dropdown-select__input flight-date-form__container__input" name="departure-date" id="departureDate" required="">
    </div>
    <div class="with-dropdown-select passenger-form__container__airline-class">
        <input type="text" class="with-dropdown-select__input airline-class--selected" name="airline-class" id="airline-class-input" value="Economy" readonly>
            <div class="with-dropdown-select__container airline-class__group-choices">
                <div class="with-dropdown-select__container__options airline-class--choices" data-airline-class="Economy"">
                    <p>Economy</p>
                </div>
                <div class="with-dropdown-select__container__options airline-class--choices"  data-airline-class="Business">
                    <p>Business</p>
                </div>
                <div class="with-dropdown-select__container__options airline-class--choices" data-airline-class="First-Class">
                    <p>First-Class</p>
                </div>
            </div>
    </div>
</div>

