
<body class="contactFooter-body">
<footer class="contact-footer">
    <p class="contact-us-footer">CONNECT WITH US</p>

    <div class="socialIcons-footer">         
             <a class="#" href=""><i class="fa-brands fa-facebook fa-3x" ></i></a>
              
            <a class="#" href="2"><i class="fa-brands fa-instagram fa-3x"></i></a>
            
            <a href="#"><i class="fas   fa-envelope fa-3x"></i></a> 

          
    </div>

    <hr style="height:0px;width:50%;color:white;background-color:white;
    margin-bottom: 25px;">
    
    <p class="download-footer">DOWNLOAD THE APP</p>

    <div class="downloadIcons-footer">     <img src="static/img/playstore.png" 
      class="playstore-footer" height="59px" width="132px">

        <img class="appstore-footer" src="static/img/appstore.png" 
        width="200px" height="35px">

     </div>

     <div class="sameLine-footer">    
        <hr style="height:0px;width:35%;color:white;background-color:white;
        margin-bottom: 20px;"> 

        <hr style="height:0px;width:35%;color:white;background-color:white;
    margin-bottom: 20px;">
     </div>

     <div class="payment-footer">
        <img class="gcash-footer"src="static/img/gcash.svg" 
        width="85px" height="55px">

        <img class="mastercard-footer"src="static/img/mastercard.svg"
        width="65px" height="55px">

        <img class="maya-footer"src="static/img/maya.svg" 
        width="85px" height="55px">
        
        <img class="visa-footer"src="static/img/visa.svg" 
        width="65px" height="55px">
        
        <img class="paypal-footer"src = "static/img/paypal.svg" width=62px height=52px>

        <img class="logo-footer"src = "static/img/logo_noname.png" width=55px height=55px>

        <div class="airline-name-div-footer">
            <p class="airline-name-footer">Airness<br>&nbsp; &nbsp; <span class="airlines-name-footer">AIRLINES</p>
        </div>
     </div>
</footer>
  
</body>