<nav class="navbar">
    <div class="navdiv">
        <div class="logo-navbar">
            <img src = "static/img/logo_noname.png" width=64px height=64px onclick="location.href='/'">
            <div class="airline-name-div-navbar">
                <p class="airline-name-navbar">Airness<br>&nbsp; &nbsp; <span class="airlines-name-navbar">AIRLINES</p>
            </div>
        </div>
        
        <div class="menu-navbar">

            <div class="buttons-div-navbar">
                <div class="home-button-navbar active-page" onclick="location.href='/'">
                    <p>Home</p>
                </div>
                <div class="about-button-navbar" onclick="location.href='/about'">
                    <p>About</p>
                </div>
                <div class="contact-button-navbar" onclick="location.href='#'">
                    <p>Contact Us</p>
                </div>
                
            </div>

            <div class="date-div-navbar">
                <p id="current-date-navbar"></p>
            </div>

            <div class="time-div-navbar">
            <p id="current-time-navbar"></p>
            </div>
         
        </div>
    </div>

    <div class="responsive-navdiv">
        <div class="logo-navbar">
            <img src = "static/img/logo_noname.png" width=64px height=64px onclick="location.href='/'">
            <div class="airline-name-div-navbar">
                <p class="airline-name-navbar">Airness<br>&nbsp; &nbsp; <span class="airlines-name-navbar">AIRLINES</p>
            </div>
        </div>
        <div class="hamburger-navbar">
            <i class="fa-sharp fa-solid fa-bars"></i>
        </div>
    </div>

</nav>