<nav class="navbar">
    <div class="navdiv">
        <div class="logo-navbar">
            <img src = "static/img/logo_noname.png" width=100px height=100px onclick="location.href='/'">
        </div>
        
        <div class="menu-navbar">
            <div class="airline-name-div-navbar">
                <p class="airline-name-navbar">Airness<br>&nbsp; &nbsp; <span class="airlines-name-navbar">AIRLINES</p>
            </div>


            <div class="buttons-div-navbar">
                <button type="button" class="about-button-navbar" onclick="location.href='/about'">About</button>

                <button type="button" class="contact-button-navbar" onclick="location.href='#'">Contact Us</button>
            </div>

            <div class="date-div-navbar">
                <p id="current-date-navbar"></p>
            </div>

            <div class="time-div-navbar">
            <p id="current-time-navbar"></p>
            </div>
         
            
        </div>
    </div>
</nav>

<script>

</script>