<nav class="navbar">
    <div class="navdiv">
        <div class="logo-navbar">
            <img src = "static/img/logo_noname.png" width=100px height=100px onclick="location.href='/'">
        </div>
        
        <div class="menu-navbar">
            <ul>
                <li><p class ="airline-name-navbar">Airness Airlines</p></li>
                <li><p id="current-date-navbar"></p></li>
                <li><p id="current-time-navbar"></p></li>
                <li><button type="button" class="about-button-navbar" onclick="location.href='#'">About</button></li>
                <li><button type="button" class="contact-button-navbar" onclick="location.href='#'">Contact Us</button></li>
            </ul>
        </div>
    </div>
</nav>

<script>

</script>