<div class="passenger-form">
    <div class="passenger-form__container">
        <label for="passenger-adult" class="age-group-label">Adults (12y+)</label>
        <div class="passenger-form__container__btn-group">
            <button class="passenger-form__container__btn btn-down" type="button">–</button>
            <div class="passenger-count__container">
                <input type="number" class="passenger-form__container__passenger-count" min="1" max="9" value=1 id="passenger-adult" name="passenger-adult" readonly>
            </div>
            <button class="passenger-form__container__btn btn-up" type="button">+</button>
        </div>
        <!-- <div class="with-dropdown-select passenger-form__container__airline-class">
            <input type="text" class="with-dropdown-select__input airline-class--selected" name="airline-class1" value="Economy" onclick="showChoices('airline-class', 0)" readonly>
            <div class="with-dropdown-select__container airline-class__group-choices">
                <div class="with-dropdown-select__container__options airline-class--choices" onclick="selectAirlineClass(0, 'Economy')">
                    <p>Economy</p>
                </div>
                <div class="with-dropdown-select__container__options airline-class--choices" onclick="selectAirlineClass(0, 'Business')">
                    <p>Business</p>
                </div>
                <div class="with-dropdown-select__container__options airline-class--choices" onclick="selectAirlineClass(0, 'First-Class')">
                    <p>First-Class</p>
                </div>
            </div>
        </div> -->
    </div>
    <div class="passenger-form__container">
        <label for="passenger-childen" class="age-group-label">Children (2 to 12y)</label>
        <div class="passenger-form__container__btn-group">
            <button class="passenger-form__container__btn btn-down" type="button">–</button>
            <div class="passenger-count__container">
                <input type="number" class="passenger-form__container__passenger-count" min="0" max="9" value=0 id="passenger-children" name="passenger-children" readonly>
            </div>
            <button class="passenger-form__container__btn btn-up" type="button">+</button>    
        </div><!-- <div class="with-dropdown-select passenger-form__container__airline-class">
            <input type="text" class="with-dropdown-select__input airline-class--selected" name="airline-class2" value="Economy" onclick="showChoices('airline-class', 1)" readonly>
            <div class="with-dropdown-select__container airline-class__group-choices">
                <div class="with-dropdown-select__container__options airline-class--choices" onclick="selectAirlineClass(1, 'Economy')">
                    <p>Economy</p>
                </div>
                <div class="with-dropdown-select__container__options airline-class--choices" onclick="selectAirlineClass(1, 'Business')">
                    <p>Business</p>
                </div>
                <div class="with-dropdown-select__container__options airline-class--choices" onclick="selectAirlineClass(1, 'First-Class')">
                    <p>First-Class</p>
                </div>
            </div>
        </div> -->
    </div>
    <div class="passenger-form__container">
        <label for="passenger-childen" class="age-group-label">Infant (below</label>
        <div class="passenger-form__container__btn-group">
            <button class="passenger-form__container__btn btn-down" type="button">–</button>
            <div class="passenger-count__container">
                <input type="number" class="passenger-form__container__passenger-count" min="0" max="9" value=0 id="passenger-infant" name="passenger-infant" readonly>
            </div>
            <button class="passenger-form__container__btn btn-up" type="button">+</button>
        </div>
            <!-- <div class="with-dropdown-select passenger-form__container__airline-class">
            <input type="text" class="with-dropdown-select__input airline-class--selected" name="airline-class3" value="Economy" onclick="showChoices('airline-class', 2)" readonly>
            <div class="with-dropdown-select__container airline-class__group-choices">
                <div class="with-dropdown-select__container__options airline-class--choices" onclick="selectAirlineClass(2, 'Economy')">
                    <p>Economy</p>
                </div>
                <div class="with-dropdown-select__container__options airline-class--choices" onclick="selectAirlineClass(2, 'Business')">
                    <p>Business</p>
                </div>
                <div class="with-dropdown-select__container__options airline-class--choices" onclick="selectAirlineClass(2, 'First-Class')">
                    <p>First-Class</p>
                </div>
            </div>
        </div> -->
    </div>
</div>