<div class="page-header">
    <p>{{ header }}</p>
</div>
<br>

<div class="flight-input-details">

    <div class="flight-input-details__items from">
        <i class="fa-sharp fa-solid fa-plane-departure"></i>
        <div class="input-details">
            <p>{{ selected_flight['departure_time'][11:16] ~ ' - ' ~ form_part_one['from-json']['municipality'] }}</p>
            <span>{{ form_part_one['from-json']['name']}} ({{ form_part_one['from-json']['iata']}})</span>
        </div>
    </div>
    <div class="flight-input-details__items to">
        <i class="fa-solid fa-plane-arrival"></i>
        <div class="input-details">
            <p>{{ selected_flight['arrival_time'][11:16] ~ ' - ' ~ form_part_one['to-json']['municipality'] }}</p>
            <span>{{ form_part_one['to-json']['name']}} ({{ form_part_one['to-json']['iata']}})</span>
        </div>
    </div>
    <div class="flight-input-details__items departure_date">
        <i class="fa-solid fa-calendar"></i>
        <div class="input-departure-date">
            <p class="departure-date">{{ form_part_one['departure-date'] }}</p>
            <span id="departureDay"></span>
        </div>
    </div>
</div>

<div class="available-flights">
    <div class="available-flights__items" data-index="{{ i }}">
        <div class="available-flights__items__flight-details">
            <div class="available-flights__items__flight-details__from">
                <div>
                    <p>{{ selected_flight['departure_time'][11:16] }}</p>
                    <span>{{ form_part_one['from-json']['iata']}}</span>
                </div>
                <img src="https://flagcdn.com/{{form_part_one['from-json']['iso_country'].lower()}}.svg" width="70" alt="{{ form_part_one['from-json']['iso_country'] }}">
            </div>
            <div class="available-flights__items__flight-details__stops">
                <p> {{ duration }} </p>
                <div>
                    <div class="line"></div>
                    <i class="fa-solid fa-plane"></i>
                </div>
                <p>{{ stops }}</p>
                <i class="fa-sharp fa-solid fa-chevron-down expand-flight-stops" data-index="{{ i }}"></i>
            </div>
            <div class="available-flights__items__flight-details__to">
                <img src="https://flagcdn.com/{{form_part_one['to-json']['iso_country'].lower()}}.svg" width="70" alt="{{ form_part_one['to-json']['iso_country'] }}">
                <div>
                    <p>{{ selected_flight['arrival_time'][11:16]}}</p>
                    <span>{{ form_part_one['to-json']['iata']}}</span>
                </div>
            </div>
        </div>
    <div class="available-flights__items__flight-price">
        <p><span style="font-weight: 400; font-size: 1.1rem;">PHP</span> {{ "{:,}".format(selected_flight['price']) }}</p>
    </form> 
    </div>
    </div>
    <div class="available-flights__items expanded-section" data-index="{{ i }}">
    <div class="available-flights__items__flight-details expanded-section">
        <div class="flight-timeline-wrapper">
            <p class="flight-timeline-p">FLIGHT TIMELINE</p>
            {% for j in range(selected_flight['stops'] | length) %}
                <p class="flight-number"> {{ selected_flight['stops'][j]['marketing_carrier']}} {{ selected_flight['stops'][j]['flight_number']}}</p>
                <div class="flight-route-container">
                    
                    {% set duration_in_min = selected_flight['stops'][j]['duration'] %}
                    {% set hours = duration_in_min // 60 %}
                    {% set min = duration_in_min % 60 %}
                    {% if hours > 0 and min > 0 %}
                        {% set duration_stop = hours ~ 'h ' ~ min ~ 'm' %}
                    {% elif hours > 0 and min == 0 %}
                        {% set duration_stop = hours ~ 'h' %}
                    {% elif hours == 0 and min > 0 %}
                        {% set duration_stop = min ~ 'm' %}
                    {% endif %}


                    <p class="duration">{{ duration_stop }}</p>
                    <div class="timeline-track">&nbsp;</div>
                    <div class="route-wrapper">
                        <div class="route-from">
                            <p class="time">{{ selected_flight['stops'][j]['departure_time'][11:16] }}</p>
                            <p class="iata">{{ selected_flight['stops'][j]['origin']['iata'] }} </p>
                            <p class="name">{{ selected_flight['stops'][j]['origin']['name'] }}</p>
                        </div>
                        <div class="route-to">
                            <p class="time">{{ selected_flight['stops'][j]['arrival_time'][11:16] }}</p>
                            <p class="iata">{{ selected_flight['stops'][j]['destination']['iata'] }}</p>
                            <p class="name">{{ selected_flight['stops'][j]['destination']['name'] }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}
            <div class="footer">
                <p><span>Arrives: </span> {{ selected_flight['arrival_time'] }}</p>
                <p><span>Duration: </span>  {{ duration }}</p>
            </div>
        </div>

    </div>
    <div class="available-flights__items__flight-price expanded-section">
    </div>
    </div>
</div>