{% block content %}
<head>
    <!-- scss file in "src\scss\_about.scss" -->
    <link rel="stylesheet" href= "src\scss\_about.scss">
    <!-- about page starts here -->
</head>
<body>
    <div >
        <h1 class="bar">add NAVBAR</h1>
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <br><br>
    
       <h2 class="about-page-title">&nbsp;&nbsp;&nbsp;About Us</h2>
    
    &nbsp;&nbsp;
    &nbsp;&nbsp;
    <br><br>
        <div>
            <p1>
            <p class="essay">
                
                Welcome to Airness Airline, where you will experience flying with great nobility and royalty.<br>
                It is here where you will experience the epitome of flying with great elegance and luxury, 
                as we transport you to your destination with efficiency and convenience.<br>

                while flying with us.<br>You can also Indulge in the exquisite and embrace the extraordinary as we redefine the meaning of luxury travel.
                <br>Airness Airline is the Castle in the sky where you fly as a Royalty.
            
            </p1> 
            </p> 
        </div>
</body>

{% endblock %}