{% extends "base.html" %}
{% block title %}About Us{% endblock %}

{% block content %}
<head>
    <!-- scss file in "src\scss\_about.scss" -->
    <!-- about page starts here -->
    
        <p class="about-page-title">About Us</p>
    
</head>

<body>
    <div >
        <div>
            <p1>
                Welcome to Airness Airline, where you will experience flying with great nobility and royalty.<br>
                It is here where you will experience the epitome of flying with great elegance and luxury, 
                as we transport you to your destination with efficiency and convenience.<br>
                We embody the essence of royalty, offering a personalized and exclusive experience fit for kings and queens, 
                while flying with us.<br>You can also Indulge in the exquisite and embrace the extraordinary as we redefine the meaning of luxury travel.
                <br>Airness Airline is the Castle in the sky where you fly as a Royalty.
            
            </p1> 
        </div>
    </div>
</body>

{% endblock %}
