<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:bold|Montserrat:100,300,400,500,700,900|Inter:400,500,700">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,500,700,800" rel   ="stylesheet">

    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <!-- ADD NAVBAR -->
    </nav>
    {% block content %}
    {% endblock %}
    <script src="https://kit.fontawesome.com/791e7cfd41.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/navbar.js')}}"></script>
    {% block script %}
    {% endblock %}
</body>
</html>