{% extends "base.html" %}
{% include 'blocks/navbar.html' %}
{% block title %}Flights{% endblock %}
{% block content %}

<!-- <div class="wrapper">
    {% set header = "Select A Flight" %}
    {% include 'blocks/flight-input-details.html' %}
</div> -->

<div class="main-wrapper flight-wrapper">
    <div class="home-body">
        <div class="form-container">
            <div class="vector-airplane">
                <img src="..\static\img\vector-airplane.png" alt="Vector Airplane">
            </div>
            <div class="sidebar">
                <div class="sidebar-heading">
                    <p>Choose your Flight</p>
                </div>
                <div class="flight-passenger-class-info-container">
                    <div class="info-container">
                        <div class="info-item">
                            <i class="fa-sharp fa-solid fa-person"></i>
                            <p>1 Passenger</p>
                        </div>
                        <div class="info-item">
                            <i class="fa-solid fa-tag"></i>
                            <p id="airline-class-flight-pg">{{ form_part_one['airline-class']}}</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="flight-location-form flights-pg-location-form">
                    <div class="with-dropdown-select focused" id="from">
                        <div class="flight-location-input__container">
                            <input type="text" tabindex="0" class="with-dropdown-select__input" value="{{ form_part_one['from'] }}" readonly>
                        </div>
                    </div>
                    <div class="with-dropdown-select focused" id="to">
                        <div class="flight-location-input__container">
                            <input type="text" tabindex="0" class="with-dropdown-select__input" value="{{ form_part_one['to'] }}" readonly>
                        </div>
                    </div>
                    <div class="with-dropdown-select flight-date-form__container">
                        <input type="date" tabindex="0" class="with-dropdown-select__input flight-date-form__container__input" value="{{ form_part_one['departure-date'] }}" readonly>
                    </div>
                </div> -->
                {% if filtered == True %}
                    <input type="hidden" name="filters" id="filters" value="{{ filters }}">
                {% endif %}
                    <div class="filter-section-sidebar">
                    <div class="filter-heading">
                        <p>Filters</p>
                        <span>Select the filter according to your preferences</span>
                    </div>
                    <div class="sort-by-btns-container">
                        <button class="sort-by-btn airness-btn best" id="bestBtn" data-value="Best">Best</button>
                        <button class="sort-by-btn airness-btn cheapest" id="cheapestBtn" data-value="Cheapest">Cheapest</button>
                        <button class="sort-by-btn airness-btn fastest" id="fastestBtn" data-value="Fastest">Fastest</button>
                    </div>
                    <div class="stops-btns-container">
                        <button class="stops-btn radio-btn airness-btn" data-value="0">Direct</button>
                        <button class="stops-btn radio-btn airness-btn" data-value="1">1 Stop</button>
                        <button class="stops-btn radio-btn airness-btn" data-value="2">2+ Stops</button>
                    </div>
                    <div class="departure-time-slider-container filter-subsection-container">
                        <div class="departure-time-slider-heading filter-subsection-heading-container">
                            <p class="filter-subsection__heading">Departure Time</p>
                            <p class="fiter-subsection__subheading"><span class="departure-from-value">00:00</span> - <span class="departure-to-value">23:59</span></p>
                        </div>
                        <div class="departure-time-slider-element slider">
                            <div class="two-thumb-slider">
                                <input type="range" min="0" max="1440" value="0" step="30" class="slider-range" id="point1-departure-time">
                                <div class="departure-time-included-range"></div>
                                <input type="range" min="0" max="1440" value="1439" step="30" class="slider-range" id="point2-departure-time">
                            </div>
                            </div>
                    </div>
                    <div class="duration-slider-container filter-subsection-container">
                        <div class="duration-slider-heading filter-subsection-heading-container">
                            <p class="filter-subsection__heading">Duration</p>
                            <p class="fiter-subsection__subheading"><span class="duration-from-value">0</span>h - <span class="duration-to-value">23</span>h</p>
                        </div>
                        <div class="duration-slider-element slider">
                            <div class="two-thumb-slider">
                                <input type="range" step="30" class="slider-range" id="point1-duration">
                                <div class="duration-included-range"></div>
                                <input type="range" step="30" class="slider-range" id="point2-duration">
                            </div>
                          </div>
                    </div>

                </div>

                <div class="sidebar-btn-container filter-flights-btn-container">
                    <form action="/filtered" method="POST">
                        <input type="hidden" name="sortBy" id="sortBy">
                        <input type="hidden" name="stops" id="stops" value="3">
                        <input type="hidden" name="departure-from" id="departure-from" value="00:00">
                        <input type="hidden" name="departure-to" id="departure-to" value="23:59">
                        <input type="hidden" name="duration-from" id="duration-from">
                        <input type="hidden" name="duration-to" id="duration-to">

                        <button id="filter-flights-btn" type="submit">
                            <i class="fa-solid fa-filter"></i> &nbsp&nbspFilter Results
                        </button>
                    </form>
                </div>
                </form>
            </div>
        </div>
        {% if result_count > 0 %}
        {% if form_part_one['airline-class'] == 'Economy' %}
        {% set multiplier = 1 %}
        {% elif form_part_one['airline-class'] == 'Premium Economy' %}
        {% set multiplier = 1.15 %}
        {% elif form_part_one['airline-class'] == 'Business' %}
        {% set multiplier = 1.35 %}
        {% endif %}
        <div class="popup-wrapper">
            <div class="popup-selected-details">
                <div class="popup-body">
                    <div class="flight-details-text-container">
                        <div class="flight-details-text">
                            <div class="map-flights-from">
                                <p class="map-flights-from__time">TIME</p>  
                                <span>{{ form_part_one['from-json']['iata'] }}</span>
                            </div>
                            <div class="map-flights-plane">
                                <div class="airplane-track"></div>
                                <i class="fa-solid fa-plane icon-plane"></i> 
                            </div>
                            <div class="map-flights-to">
                                <p class="map-flights-to__time">TIME</p>
                                <span>{{ form_part_one['to-json']['iata'] }}</span>
                            </div>
                        </div>
                        <!-- <div class="flight-stops-details">
                            {% for x in range(5) %}
                            <div class="flight-stop-container">
                                <div class="flight-stop-circle"></div>
                                <div class="flight-stop-departure">
                                    <p class="flight-stop-departure--time">00:50</p>
                                    <p class="flight-stop-departure--loc">MNL</p>
                                </div>
                                <i class="fa-solid fa-plane icon-plane"></i> 
                                <div class="flight-stop-arrival">
                                    <p class="flight-stop-arrival--time">11:50</p>
                                    <p class="flight-stop-arrival--loc">YVR</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div> -->
                    </div>
                    <div class="map-flight-details-container">

                    </div>
                </div>
                <div class="popup-sidebar" style="--bg-url: url({{ form_part_one['to-json']['url'] }});">
                    <div class="popup-sidebar-text">
                        <p class="popup-sidebar-text__municipality">{{ form_part_one['to-json']['municipality'] }}</p>
                        <p class="popup-sidebar-text__desc">Destination</p>
                    </div>
                    <div class="popup-sidebar-price">
                        <p class="popup-sidebar-price__price">PHP {{ "{:,}".format(((available_flights[0][5] | float) * (multiplier)) | round(2)) }}</p>
                        <p class="popup-sidebar-price__desc">/per person</p>
                    </div>
                    <div class="popup-sidebar-button">
                        <button type="button">Continue</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="available-flights-test">
            <div class="input-results-wrapper">
                <div class="flight-input-details available-flights-input-details">
                    <div class="flight-input-details__items from">
                        <i class="fa-sharp fa-solid fa-plane-departure"></i>
                        <div class="input-details">
                            <p>{{ form_part_one['from-json']['municipality'] }}</p>
                            <span>{{ form_part_one['from-json']['name']}} ({{ form_part_one['from-json']['iata']}})</span>
                        </div>
                    </div>
                    <div class="flight-input-details__items to">
                        <i class="fa-solid fa-plane-arrival"></i>
                        <div class="input-details">
                            <p>{{ form_part_one['to-json']['municipality'] }}</p>
                            <span>{{ form_part_one['to-json']['name']}} ({{ form_part_one['to-json']['iata']}})</span>
                        </div>
                    </div>
                    <div class="flight-input-details__items departure_date">
                        <i class="fa-solid fa-calendar"></i>
                        <div class="input-departure-date">
                            <p class="departure-date">{{ form_part_one['departure-date'] }}</p>
                            <span id="departureDay"></span>
                        </div>
                    </div>
                </div>
                {% if result_count  > 0 %} 
                    <p class="show-results-text">Showing <span style="font-weight: 700;">{{ (available_flights | length) }} </span>flights retrieved from the database</p>
                {% else %}
                    <p class="show-results-text">{{ error_message[0] }}</p>
                {% endif %}
            </div>

            {% for i in range(result_count) %}
        
                {% set duration_in_min = available_flights[i][4] %}
                {% set hours = duration_in_min // 60 %}
                {% set min = duration_in_min % 60 %}
                {% if hours > 0 and min > 0 %}
                    {% set duration = hours ~ 'h ' ~ min ~ 'm' %}
                {% elif hours > 0 and min == 0 %}
                    {% set duration = hours ~ 'h' %}
                {% elif hours == 0 and min > 0 %}
                    {% set duration = min ~ 'm' %}
                {% endif %}
        
                {% set stop_count = (available_flights[i][3] | int) - 1 %}
                {% if stop_count > 1 %}
                    {% set stops = stop_count ~ ' stops' %}
                {% elif stop_count == 1 %}
                    {% set stops = stop_count ~ ' stop' %}
                {% else %}
                    {% set stops = 'Direct' %}
                {% endif %}

            <div class="flight-container closed" data-index="{{ i }}" data-itinerary-code="{{ available_flights[i][0] }}">
                <div class="flight-details-section">
                    <div class="flight-details-subsection stops">
                        <p>{{ stops }}</p>
                    </div>
                    <div class="flight-details-subsection details">
                        <div class="time-location from">
                            <p>{{ depart_time_list[i][0] }}</p>
                            <span>{{ form_part_one['from-json']['iata'] }}</span>
                        </div>
                        <div class="airplane-track-container">
                            <div class="airplane-track-duration">
                                <p>{{ available_flights[i][4] // 60 }}h {{ available_flights[i][4] % 60 }}m</p>
                            </div>
                            <div class="airplane-main-track">
                                <div class="airplane-track"></div>
                                <i class="fa-solid fa-plane"></i>
                            </div>
                        </div>
                        <div class="time-location to">
                            <p>{{ arrival_time_list[i][0] }}</p>
                            <span>{{ form_part_one['to-json']['iata'] }}</span>
                        </div>
                    </div>
                </div>  
                <div class="flight-price-section">
                    <p><span style="font-size: 0.75em;">PHP</span> {{ "{:,}".format(((available_flights[i][5] | float) * (multiplier)) | round(2)) }}</p>
                    <button>Select</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
        <!-- 
    <div class="filter">
        <label for="best">Best</label>
        <input type="radio" name="flights-filter" id="best">
        <label for="best">Cheapest</label>
        <input type="radio" name="flights-filter" id="cheapest">
        <label for="best">Fastest</label>
        <input type="radio" name="flights-filter" id="fastest">
    </div> -->


    <form action="/passenger-details" method="post" id="selectFlightForm"> 
    <!-- <div class="available-flights"> -->

        {#% if result_count  > 0 %}
            <p> Status: {{ available_flights['status'] }} </p> 
            <p> Results: {{ available_flights['totalResults'] }} </p> 
        {% endif %}
        
        {% for i in range(result_count) %}

            {% set duration_in_min = available_flights['best'][i]['duration_in_mins'] %}
            {% set hours = duration_in_min // 60 %}
            {% set min = duration_in_min % 60 %}
            {% if hours > 0 and min > 0 %}
                {% set duration = hours ~ 'h ' ~ min ~ 'm' %}
            {% elif hours > 0 and min == 0 %}
                {% set duration = hours ~ 'h' %}
            {% elif hours == 0 and min > 0 %}
                {% set duration = min ~ 'm' %}
            {% endif %}

            {% set stop_count = available_flights['best'][i]['stop_count'] %}
            {% if stop_count > 1 %}
                {% set stops = stop_count ~ ' stops' %}
            {% elif stop_count == 1 %}
                {% set stops = stop_count ~ ' stop' %}
            {% else %}
                {% set stops = 'Direct' %}
            {% endif %}

        <div class="available-flights__items" data-index="{{ i }}">
                <div class="available-flights__items__flight-details">
                    <div class="available-flights__items__flight-details__from">
                        <div>
                            <p>{{ available_flights['best'][i]['departure_time'][11:16] }}</p>
                            <span>{{ form_part_one['from-json']['iata']}}</span>
                        </div>
                        <img src="https://flagcdn.com/{{form_part_one['from-json']['iso_country'].lower()}}.svg" width="70" alt="{{ form_part_one['from-json']['iso_country'] }}">
                    </div>
                    <div class="available-flights__items__flight-details__stops">
                        <p> {{ duration }} </p>
                        <div>
                            <div class="line"></div>
                            <i class="fa-solid fa-plane"></i>
                        </div>
                        <p>{{ stops }}</p>
                        <i class="fa-sharp fa-solid fa-chevron-down expand-flight-stops" data-index="{{ i }}"></i>
                    </div>
                    <div class="available-flights__items__flight-details__to">
                        <img src="https://flagcdn.com/{{form_part_one['to-json']['iso_country'].lower()}}.svg" width="70" alt="{{ form_part_one['to-json']['iso_country'] }}">
                        <div>
                            <p>{{ available_flights['best'][i]['arrival_time'][11:16] }}</p>
                            <span>{{ form_part_one['to-json']['iata']}}</span>
                        </div>
                    </div>
                </div>
            <div class="available-flights__items__flight-price">
                <p><span style="font-weight: 400; font-size: 1.1rem;">PHP</span> {{ "{:,}".format(available_flights['best'][i]['price']) }}</p>
            <button class="form-btn" type="button" onclick="selectFlight( {{ available_flights['best'][i] }})" id="selectFlightBtn">Select</button>
        </form> 
            </div>
        </div>
        <div class="available-flights__items expanded-section" data-index="{{ i }}">
            <div class="available-flights__items__flight-details expanded-section">
                <div class="flight-timeline-wrapper">
                    <p class="flight-timeline-p">FLIGHT TIMELINE</p>
                    {% for j in range(available_flights['best'][i]['stops'] | length) %}
                        <p class="flight-number"> {{ available_flights['best'][i]['stops'][j]['marketing_carrier']}} {{ available_flights['best'][i]['stops'][j]['flight_number']}}</p>
                        <div class="flight-route-container">
                            
                            {% set duration_in_min = available_flights['best'][i]['stops'][j]['duration'] %}
                            {% set hours = duration_in_min // 60 %}
                            {% set min = duration_in_min % 60 %}
                            {% if hours > 0 and min > 0 %}
                                {% set duration_stop = hours ~ 'h ' ~ min ~ 'm' %}
                            {% elif hours > 0 and min == 0 %}
                                {% set duration_stop = hours ~ 'h' %}
                            {% elif hours == 0 and min > 0 %}
                                {% set duration_stop = min ~ 'm' %}
                            {% endif %}


                            <p class="duration">{{ duration_stop }}</p>
                            <div class="timeline-track">&nbsp;</div>
                            <div class="route-wrapper">
                                <div class="route-from">
                                    <p class="time">{{ available_flights['best'][i]['stops'][j]['departure_time'][11:16] }}</p>
                                    <p class="iata">{{ available_flights['best'][i]['stops'][j]['origin']['iata'] }} </p>
                                    <p class="name">{{ available_flights['best'][i]['stops'][j]['origin']['name'] }}</p>
                                </div>
                                <div class="route-to">
                                    <p class="time">{{ available_flights['best'][i]['stops'][j]['arrival_time'][11:16] }}</p>
                                    <p class="iata">{{ available_flights['best'][i]['stops'][j]['destination']['iata'] }}</p>
                                    <p class="name">{{ available_flights['best'][i]['stops'][j]['destination']['name'] }}</p>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                    <div class="footer">
                        <p><span>Arrives: </span> {{ available_flights['best'][i]['arrival_time'][0:10] }}</p>
                        <p><span>Duration: </span>  {{ duration }}</p>
                    </div>
                </div>

            </div>
            <div class="available-flights__items__flight-price expanded-section">
            </div>
        </div>
        {% endfor %}

        {% if result_count == 0 %}

        <div class="available-flights__items no-result">
            <div>
                <p>{{ error_message[0] }}</p>
                <p><span> {{ error_message[1] }}</span></p> 
            </div>
        </div>

        {% endif %#}

    <!-- </div> -->

{% endblock %}

{% block script %}
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/data/countries2.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<script type="module" src="{{ url_for('static', filename='js/flights.js')}}"></script>
{% endblock %}