{% extends "base.html" %}
{% block title %}Airness Airlines{% endblock %}

{% include 'blocks/navbar.html' %}

{% block content %}

<div class="main">

    <div>
        <h1>
           Welcome your AIRNESS
        </h1>
    </div>

    <div class="img-slideshow">
        <img src="{{ url_for('static', filename='img/paulo_jayr.jpg') }}" alt="Flight Attendant" id="img-slideshow__1">
    </div>

    <div class="form-container">
        <form method="POST" id="form-pg-1">
            {% include 'blocks/flight-form.html' %}
            {% include 'blocks/passenger-form.html' %}
            <div>
                <button type="submit" class="form-btn" id="continue-btn-pg-1">Continue</button>
            </div>
        </form>
    </div>

    <div class="body">
        
    </div>
</div>

{% endblock %}