{% extends "base.html" %}
{% block title %}Airness Airlines{% endblock %}

{% block content %}

<div>
    <h1>
        Welcome, your Airness
    </h1>
</div>

<div class="form-container">
    <form method="POST">
        <div class="flight-location-form">
            <div class="from">
                <!-- <span>From</span> -->
                <input type="text" name="from" id="from-flight-location">
            </div>
            <div class="to">
                <!-- <span>To</span> -->
                <input type="text" name="to" id="to-flight-location">
            </div>
        </div>
        <div class="flight-date-form">
            <div>
                <p>Departure Date</p>
            </div>
        </div>
        {% include 'blocks/passenger-form.html' %}
        <button type="submit" class="form-btn">Submit</button>
    </form>
</div>

{% endblock %}