{% extends "booking-process.html" %}
{% block title %}Passenger Details{% endblock %}
{% block booking %}

{% set header = "Input Passenger Details" %}
{% include 'blocks/flight-input-details.html' %}
<!-- {% include 'blocks/selected-flight-details.html' %} -->
<div class="home-body" style="position: absolute; height: 100%; width: 100%; opacity: 0;"></div>
    <div class="main-wrapper passenger-details-wrapper">
        <form action="/seats" method="POST">
        {% set idx = {'value': 0} %}
        {% for n in range(3) %}
        {% if n == 0 %}
        {% set age_group = 'Adult' %}
        {% elif n == 1 %}
        {% set age_group = 'Children' %}
        {% elif n == 2 %}
        {% set age_group = 'Infant' %}
        {% endif %}
            <div class="adult-passenger-details-container" id="{{ age_group.lower() ~ '_container'}}" data-count="{{ form_part_one['passenger-' ~ age_group.lower() ]}}">
                <div class="age-group-container">
                    <p class="age-group">{{ age_group }}</p>
                    <i class="fa-sharp fa-solid fa-chevron-down age-group-expand" id="{{ age_group.lower() + '_expand'}}"></i>
                </div>
                {% for i in range (idx.value, (form_part_one['passenger-' ~ age_group.lower()] | int) + idx.value)%}
                    <div class="adult-passenger-details-container__items" id="{{'p' ~ ((i+1)|int)}}">
                        <div class="passenger-number-container">
                            <p class="passenger-number">{{ '(' ~ age_group.upper() ~ ')'}} PASSENGER {{ i + 1}} DETAILS</p>
                            <i class="fa-sharp fa-solid fa-chevron-down passenger-expand" id="{{ 'p' ~ ((i+1)|int) ~ '_expand'}}" data-age="{{ n }}"></i>
                        </div>
                        <div class="passenger-full-name">
                            <div class="adult-passenger-details-container__items--info">
                                <label for="{{'p' + ((i+1) | string) + 'Name'}}">First Name</label>
                                <input type="text" name="{{'p' + ((i+1) | string) + 'FirstName'}}" 
                                        id="{{'p' + ((i+1) | string) + 'Name'}}"
                                        placeholder="Enter your First Name">
                            </div>
                            <div class="adult-passenger-details-container__items--info">
                                <label for="{{'p' + ((i+1) | string) + 'Name'}}">Last Name</label>
                                <input type="text" name="{{'p' + ((i+1) | string) + 'LastName'}}" 
                                        id="{{'p' + ((i+1) | string) + 'Name'}}"
                                        placeholder="Enter your Last Name">
                            </div>
                            <div class="adult-passenger-details-container__items--info">
                                <label for="{{'p' + ((i+1) | string) + 'Name'}}">Middle Name</label>
                                <input type="text" name="{{'p' + ((i+1) | string) + 'MiddleName'}}" 
                                        id="{{'p' + ((i+1) | string) + 'Name'}}"
                                        placeholder="Enter your Middle Name">
                            </div>
                        </div>
                        <div class="passenger-birthdate">
                            <div class="adult-passenger-details-container__items--info">
                                <label for="{{'p' + ((i+1) | string) + 'Name'}}">Date of Birth</label>
                                <input type="date" name="{{'p' + ((i+1) | string) + 'BirthDate'}}" 
                                        id="{{'p' + ((i+1) | string) + 'Name'}}">
                            </div>
                        </div>
                        <div class="passenger-passport">
                            <div class="adult-passenger-details-container__items--info">
                                <label for="{{'p' + ((i+1) | string) + 'Name'}}">Passport No</label>
                                <input type="text" name="{{'p' + ((i+1) | string) + 'PassportNo'}}" 
                                        id="{{'p' + ((i+1) | string) + 'Name'}}"
                                        placeholder="Enter your Passport Number">
                            </div>
                            <div class="adult-passenger-details-container__items--info">
                                <label for="{{'p' + ((i+1) | string) + 'Name'}}">Issue Date</label>
                                <input type="date" name="{{'p' + ((i+1) | string) + 'IssueDate'}}" 
                                        id="{{'p' + ((i+1) | string) + 'Name'}}"
                                        placeholder="Passport's Issue Date">
                            </div>
                            <div class="adult-passenger-details-container__items--info">
                                <label for="{{'p' + ((i+1) | string) + 'Name'}}">Exp Date</label>
                                <input type="date" name="{{'p' + ((i+1) | string) + 'ExpDate'}}" 
                                        id="{{'p' + ((i+1) | string) + 'Name'}}"
                                        placeholder="Passport's Issue Date">
                            </div>
                        </div>
                    </div>
                    {% if idx.update({'value' : (idx.value + 1)}) %} {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
            <div class="adult-passenger-details-container contact-info">
                <div class="age-group-container">
                    <p class="age-group">Contact Information</p>
                </div>
                <div class="passenger-contact-info">
                    <div class="adult-passenger-details-container__items contact-info">
                        <div class="adult-passenger-details-container__items--info">
                            <label for="contactNumber">Contact Number</label>
                            <input type="text" name="contactNumber" 
                                    placeholder="Enter your Contact Number">
                        </div>
                    </div>
                    <div class="adult-passenger-details-container__items contact-info email-address">
                        <div class="adult-passenger-details-container__items--info">
                            <label for="emailAddress">Email Address</label>
                            <input type="text" name="emailAddress" 
                                    placeholder="Enter your Email Address">
                        </div>
                        <div class="adult-passenger-details-container__items--info">
                            <label for="reEmailAddress">Re-enter Email Address</label>
                            <input type="text" name="reEmailAddress" 
                                    placeholder="Enter your Email Address">
                        </div>
                    </div>
                </div>
            </div>
        <button type="submit" class="form-btn">CONTINUE</button>
        </form>
    </div>

{% endblock %}

{% block script %}
<script type="module" src="{{ url_for('static', filename='js/passengers.js')}}"></script>
<script type="module" src="{{ url_for('static', filename='js/flights.js')}}"></script>
{% endblock %}