{% extends "booking-process.html" %}
{% block title %}Ticket{% endblock %}
{% block booking %}

<div class="ticket_div" >
    <div class="ticket-top">
        
        <img src="/static/img/logo_noname.png" class="logo-ticket"  width="70px" height="70px">

        <p class="airline-name-ticket">AIRNESS AIRLINES</p>

        <p class="b-pass-ticket">&nbsp;&nbsp;&nbsp;BOARDING PASS&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BOARDING PASS</p>
    </div>

    <div class="vertical_dashed_ticket"></div>

    <div class="info-left-ticket">
        <img src="/static/img/world_map.png" class="world-map-ticket" >
        <p class="class-ticket">ECONOMY CLASS</p> 
        
        <div class="name-info-ticket">
            <p class="name-ticket">Name<br><span class="passenger-name-ticket">JEREMY JHAY B. CAYABYAB</span> </p>
       

        </div>
         
        <div class="boarding-info-ticket">
            <p class="boarding-ticket">Boarding Time<br><span class="boarding-time-ticket">8:00 AM - 9:00 AM</span> </p>
        </div>

        <div class="departure-info-ticket">
            <p class="departure-ticket">Departure Time<br><span class="departure-time-ticket"> 9:30 AM</span> </p>
        </div>

        <div class="from-info-ticket">
            <p class="from-ticket">From<br><span class="passenger-from-ticket"> PARIS,FRANCE</span> </p>
        </div>

        <div class="date-info-ticket">
            <p class="date-ticket">Departure Date<br><span class="flight-date-ticket"> 13-04-2024</span> </p>
        </div>

        <div class="seat-info-ticket">
            <p class="seat-ticket">Seat<br><span class="passenger-seat-ticket"> 12A00</span> </p>
        </div>

        <div class="flight-info-ticket">
            <p class="flight-ticket">Flight No.<br><span class="passenger-flight-ticket"> 12A00</span> </p>
        </div>

        <div class="to-info-ticket">
            <p class="to-ticket">To<br><span class="passenger-to-ticket"> ROME,ITALY</span> </p>
        </div>

        <div class="ticketnumber-info-ticket">
            <p class="ticketnumber-ticket">Ticket Number<br><span class="passenger-ticketnumber-ticket"> T12345</span> </p>
        </div>
        

        <img src="/static/img/goldenairplane.png" class="goldairplane-ticket">

        <img src="/static/img/barcode.png" class="barcode-left-ticket">
    </div>


    <div class="info-right-ticket">

        <div class="copy-name-ticket">
           <p class="cname-ticket">JEREMY JHAY B. CAYABYAB</p>
            <hr class="horizontal-dashed-line">
        </div>

        <div class="copy-from-info-ticket">
            <p class="copy-from-ticket">From <br><span class="copy-passenger-from-ticket">PARIS,FRANCE</p>
         </div>

         <div class="copy-to-info-ticket">
            <p class="copy-to-ticket">To <br><span class="copy-passenger-to-ticket">ROME,ITALY</p>
         </div>

         <div class="copy-boarding-info-ticket">
            <p class="copy-boarding-ticket">Boarding Time<br><span class="copy-boarding-time-ticket">8:00 AM - 9:00 AM</p>
         </div>

         <div class="copy-departure-info-ticket">
            <p class="copy-departure-ticket">Departure Time<br><span class="copy-departure-time-ticket">9:30 AM </p>
         </div>

         <div class="copy-date-info-ticket">
            <p class="copy-date-ticket">Departure Date <br><span class="copy-flight-date-ticket">13/04/2024 </p>
         </div>

         <div class="copy-seat-info-ticket">
            <p class="copy-seat-ticket">Seat<br><span class="copy-passenger-seat-ticket">12A00 </p>
         </div>

         <div class="copy-flight-info-ticket">
            <p class="copy-flight-ticket">Flight No.<br><span class="copy-passenger-flight-ticket">12A00 </p>
         </div>

         <img src="/static/img/barcode.png" class="barcode-right-ticket">
    </div>
    
</div>

{% endblock %}