@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
html {
  scroll-behavior: smooth !important;
  padding: 0;
}

body {
  font-family: "Montserrat";
  box-sizing: border-box;
}

h1 {
  color: red;
}

input,
textarea,
button,
select,
a,
.airline-class__group-choices {
  -webkit-tap-highlight-color: transparent;
}

input::-webkit-calendar-picker-indicator {
  font-size: 20px;
  padding: 0.5rem;
}

.passenger-container h3, .passenger-container div {
  padding: 0.25rem 0;
}

.passenger-form {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  display: inline;
  position: relative;
}
.passenger-form::-webkit-inner-spin-button, .passenger-form::-webkit-outer-spin-button {
  display: none;
}
.passenger-form__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  padding: 0 1rem;
}
.passenger-form__container i {
  color: #174885;
  display: inline-block;
  transform: scale(1.25);
  cursor: pointer;
}
.passenger-form__container .age-group-label {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  width: 75px;
  display: inline-block;
}
.passenger-form__container__passenger-count {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 300;
  color: #174885;
  text-align: center;
  width: 2rem;
  border: none;
}
.passenger-form__container__passenger-count:focus {
  outline: none;
  border: none;
}
.passenger-form__container__btn {
  margin: 0 clamp(0.25rem, 2vw, 1.25rem);
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 30px;
  text-align: center;
  font-family: "Montserrat";
  font-size: 1.25rem;
  font-weight: 400;
  color: #ffffff;
  background: #174885;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.passenger-form__container__btn:disabled {
  color: white;
  background: #b399b0;
  transition: all 0.1s ease-in-out;
}
.passenger-form__container__airline-class {
  transform: translateY(4.9rem);
}
.passenger-form__container__airline-class .airline-class--selected {
  width: 7rem;
  padding: 0.6rem 0.6rem;
  text-align: center;
}
.passenger-form__container__airline-class .airline-class--selected:focus {
  outline: 1px solid #174885;
}
.passenger-form__container__airline-class p {
  text-align: center;
  padding: 1rem;
  font-weight: 400;
}

.flight-location-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 1.25rem;
  z-index: 2;
  gap: 1px;
}
.flight-location-form .flight-location-form__container {
  display: block;
  position: absolute;
  background: #ffffff;
  border-radius: 10px;
  max-height: 20rem;
  width: 200%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.flight-location-form .flight-location-form__container::-webkit-scrollbar {
  width: 17.5px;
}
.flight-location-form .flight-location-form__container::-webkit-scrollbar-track {
  margin: 10px 10px;
}
.flight-location-form .flight-location-form__container::-webkit-scrollbar-thumb {
  background: #b399b0;
  border: 5px solid white;
  border-radius: 100px;
}
.flight-location-form .flight-location-form__container::-webkit-scrollbar-thumb:hover {
  background: #174885;
}
.flight-location-form .flight-location-form__container__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  position: relative;
  width: 100%;
  height: 2rem;
  padding: 1.25rem 0rem;
  border-bottom: 1px solid #b399b0;
}
.flight-location-form .flight-location-form__container__options p {
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}
.flight-location-form .flight-location-form__container__options span {
  text-align: center;
  width: 55px;
  padding: 0.4rem 0.4rem;
  margin-right: 10px;
  background: #5d478b;
  border-radius: 5px;
  font-family: "Montserrat";
  font-size: 0.9rem;
  font-weight: 700;
  color: #ffffff;
}
.flight-location-form .flight-location-form__container__options:hover {
  background: #174885;
}
.flight-location-form .flight-location-form__container__options:hover p {
  color: #ffffff;
}
.flight-location-form div {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
  color: #174885;
  width: 100%;
}
.flight-location-form div input {
  width: 85%;
  height: 4rem;
  outline: none;
  border: none;
  text-align: left;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  z-index: 3;
  padding: 0;
}
.flight-location-form #from {
  border-radius: 10px 0 0 10px;
}
.flight-location-form #from .flight-location-input__container {
  border: 1px solid #174885;
  border-radius: 10px 0 0 10px;
  width: 100%;
}
.flight-location-form #from input {
  border-radius: 10px 0 0 10px;
  margin-left: 5%;
  margin-right: 11%;
}
.flight-location-form #from::before {
  content: "From";
  position: absolute;
  pointer-events: none;
  font-size: 1rem;
  top: 35%;
  bottom: 0;
  left: 5%;
  right: 0;
  transition: all 0.15s ease-out;
}
.flight-location-form #from.focused::before {
  position: absolute;
  pointer-events: none;
  font-size: 0.7rem;
  font-weight: 300;
  top: 15%;
  bottom: 0;
  left: 5%;
  right: 0;
  transition: all 0.15s ease-out;
}
.flight-location-form #from.focused > div {
  border: 2px solid #174885;
}
.flight-location-form #from.invalid::before {
  color: rgb(245, 67, 67);
}
.flight-location-form #from.invalid::after {
  content: "This field is required";
  position: absolute;
  font-family: "Montserrat";
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(245, 67, 67);
  top: 100%;
  bottom: 0;
  left: 5%;
  right: 0;
  z-index: -1;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.flight-location-form #from.invalid .flight-location-input__container {
  border: 2px solid rgb(245, 67, 67);
}
.flight-location-form #to {
  border-radius: 0 10px 10px 0;
}
.flight-location-form #to .flight-location-form__container {
  left: -100%;
}
.flight-location-form #to .flight-location-input__container {
  border: 1px solid #174885;
  border-radius: 0 10px 10px 0;
  width: 100%;
}
.flight-location-form #to input {
  border-radius: 0 20px 10px 0;
  margin-left: 11%;
  margin-right: 5%;
}
.flight-location-form #to::before {
  content: "To";
  position: absolute;
  pointer-events: none;
  font-size: 1rem;
  top: 35%;
  bottom: 0;
  left: 2rem;
  right: 0;
  transition: all 0.15s ease-out;
}
.flight-location-form #to.focused::before {
  position: absolute;
  pointer-events: none;
  font-size: 0.7rem;
  font-weight: 300;
  top: 15%;
  bottom: 0;
  left: 2rem;
  right: 0;
  transition: all 0.15s ease-out;
}
.flight-location-form #to.focused > div {
  border: 2px solid #174885;
}
.flight-location-form #to.invalid::before {
  color: rgb(245, 67, 67);
}
.flight-location-form #to.invalid::after {
  content: "This field is required";
  position: absolute;
  font-family: "Montserrat";
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(245, 67, 67);
  top: 100%;
  bottom: 0;
  left: 5%;
  right: 0;
  z-index: -1;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.flight-location-form #to.invalid .flight-location-input__container {
  border: 2px solid rgb(245, 67, 67);
}

.flight-date-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1.25em 0;
  margin: 0;
  z-index: 1;
  font-family: "Montserrat";
  font-size: 0.7rem;
  font-weight: 300;
  color: #174885;
}
.flight-date-form.focused::before {
  position: absolute;
  pointer-events: none;
  font-size: 0.7rem;
  font-weight: 300;
  top: 15%;
  bottom: 0;
  left: 5%;
  right: 0;
  transition: all 0.15s ease-out;
}
.flight-date-form.focused > div {
  border: 2px solid #174885;
}
.flight-date-form .flight-date-form__container {
  border: 1px solid #174885;
  width: 100%;
}
.flight-date-form .flight-date-form__container__input {
  width: 92.5%;
  height: 4rem;
  margin-left: 5%;
  outline: none;
  border: none;
  padding: 0;
  text-align: left;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}
.flight-date-form div:nth-child(1) {
  border-radius: 10px 0 0 10px;
}
.flight-date-form div:nth-child(1)::before {
  content: "Depart";
  position: absolute;
  pointer-events: none;
  top: 10%;
  bottom: 0;
  left: 5%;
  right: 0;
  transition: all 0.15s ease-out;
}
.flight-date-form div:nth-child(2) {
  border-radius: 0 10px 10px 0;
}
.flight-date-form div:nth-child(2) input {
  color: #b399b0;
}
.flight-date-form div:nth-child(2)::before {
  content: "Return";
  position: absolute;
  pointer-events: none;
  font-size: 0.7rem;
  font-weight: 300;
  top: 15%;
  bottom: 0;
  left: 5%;
  right: 0;
  transition: all 0.15s ease-out;
}

.navbar {
  background-color: #163976;
  height: 100px;
}

.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.airline-name-navbar {
  color: white;
  margin-top: -25px;
  font-style: italic;
  font-weight: bold;
  padding-left: -5px;
}

.logo-navbar {
  margin-left: 70px;
  align-items: center;
}
.logo-navbar img {
  cursor: pointer;
}

#current-time-navbar {
  color: white;
  font-family: "Montserrat";
  margin-right: 30px;
}

#current-date-navbar {
  color: white;
  font-family: "Montserrat";
  margin-right: 30px;
}

li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
}

.contact-button-navbar {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Montserrat";
  padding: 10px;
  padding-left: 27px;
  padding-right: 23px;
  border-radius: 8px;
  color: #212121;
  font-weight: 600;
  margin: 0 15px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 50px;
  color: rgb(217, 171, 53);
  border: 3px solid rgb(217, 171, 53);
}

.about-button-navbar {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
  font-family: "Montserrat";
  padding: 10px;
  padding-left: 38px;
  padding-right: 38px;
  border-radius: 8px;
  color: #212121;
  font-weight: 600;
  margin: 0 15px;
  margin-left: 20px;
  margin-top: 20px;
  color: rgb(217, 171, 53);
  border: 3px solid rgb(217, 171, 53);
}

.contact-button-navbar:hover {
  color: white;
  background-color: rgb(217, 171, 53);
}

.about-button-navbar:hover {
  color: white;
  background-color: rgb(217, 171, 53);
}

.airline-name-navbar {
  color: white;
  margin-right: 190px;
  font-style: italic;
  font-weight: bold;
  font-family: "Pinyon Script", sans-serif;
  font-size: 40px;
}

body {
  background: rgb(240, 231, 231);
}

.current-page-indicator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  color: #ffffff;
  margin: auto;
  padding: 1rem 0;
}
.current-page-indicator p {
  font-family: "Montserrat";
  font-size: 0.75rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
  width: 13%;
  background: #ffdf29;
  padding: 0.75rem 0.5rem;
}

.flight-input-details {
  position: relative;
  width: 65%;
  height: 8%;
  margin: auto;
  background: #174885;
  padding: clamp(0.5rem, 1vw, 1rem) clamp(0.5rem, 1vw, 1rem);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flight-input-details__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.flight-input-details__items i {
  font-size: clamp(1rem, 1.71vw, 1.5rem);
  padding: 0 clamp(0.5rem, 1vw, 1rem);
}
.flight-input-details__items .input-details {
  display: block;
}
.flight-input-details__items .input-details p {
  font-family: "Montserrat";
  font-size: clamp(0.75rem, 1.6vw, 1.4rem);
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}
.flight-input-details__items .input-details span {
  font-family: "Montserrat";
  font-size: clamp(0.5rem, 0.85vw, 0.75rem);
  font-weight: 400;
  color: #ffffff;
}
.flight-input-details__items .input-departure-date {
  display: block;
  padding-right: clamp(0.5rem, 1vw, 1rem);
}
.flight-input-details__items .input-departure-date p {
  font-size: clamp(0.5rem, 1vw, 1rem);
}
.flight-input-details__items .input-departure-date span {
  font-size: clamp(0.35rem, 0.86vw, 0.75rem);
}

.available-flights {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: calc(65% + 2rem);
  position: relative;
  height: auto;
  padding: 0rem 0;
  margin: auto;
}
.available-flights__container-expandable {
  display: block;
  position: relative;
  width: 100%;
  margin: auto;
}
.available-flights__items {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 11%;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border-radius: 20px;
  border: 1px solid rgba(129, 129, 129, 0.2);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.4);
  background: white;
}
.available-flights__items.expanded {
  margin-bottom: 0;
}
.available-flights__items.expanded-section {
  background: transparent;
  box-shadow: none;
  position: relative;
  padding: 0 0;
  border: none;
  width: 100%;
  height: 0rem;
  z-index: -1;
  margin: 0 0;
  opacity: 0;
  top: -1rem;
  transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
}
.available-flights__items.expanded-section.expanded {
  height: auto;
  opacity: 1;
  top: 0rem;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.available-flights__items.no-result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  position: relative;
  width: 100%;
  height: auto;
  padding: 2rem 0rem;
  margin: 0.5rem 0;
}
.available-flights__items.no-result p {
  font-family: "Montserrat";
  font-size: clamp(0.75rem, 1.6vw, 1.4rem);
  font-weight: 700;
  color: #000000;
  padding: 0.1rem 0.5rem;
}
.available-flights__items.no-result span {
  font-family: "Montserrat";
  font-size: clamp(0.5rem, 1vw, 1rem);
  font-weight: 400;
  color: #000000;
}
.available-flights__items__flight-details {
  margin: clamp(0.5rem, 1vw, 1rem);
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
}
.available-flights__items__flight-details.expanded-section {
  position: relative;
  background-color: white;
  border-radius: 0 0 10px 10px;
  border: 1px solid rgba(129, 129, 129, 0.2);
  box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.4);
  margin-top: 0;
  margin-bottom: 1rem;
}
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper {
  display: block;
  width: 100%;
}
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .flight-timeline-p {
  font-weight: 700;
  background-color: #174885;
  color: white;
  padding: 0.75rem;
  border: 1px solid rgba(129, 129, 129, 0.2);
}
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .flight-number {
  padding: 0.5rem;
  font-size: 0.8rem;
}
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .flight-route-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 2rem;
}
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .flight-route-container p {
  font-family: "Montserrat";
  font-size: 0.8rem;
  font-weight: 400;
  color: #000000;
  width: 5rem;
}
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .flight-route-container .route-wrapper {
  display: block;
  width: 100%;
}
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .flight-route-container .route-wrapper .route-from,
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .flight-route-container .route-wrapper .route-to {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0;
}
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .flight-route-container .route-wrapper .route-from .time,
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .flight-route-container .route-wrapper .route-from .iata,
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .flight-route-container .route-wrapper .route-to .time,
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .flight-route-container .route-wrapper .route-to .iata {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .flight-route-container .route-wrapper .route-from .name,
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .flight-route-container .route-wrapper .route-to .name {
  width: 100%;
  text-align: left;
  padding: 0 0.5rem;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .footer p {
  padding: 1rem 2rem;
  font-family: "Montserrat";
  font-size: 0.8rem;
  font-weight: 400;
  color: #000000;
}
.available-flights__items__flight-details.expanded-section .flight-timeline-wrapper .footer p span {
  font-weight: 700;
}
.available-flights__items__flight-details__from, .available-flights__items__flight-details__to {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.available-flights__items__flight-details__from div, .available-flights__items__flight-details__to div {
  width: 100%;
  padding: 0 clamp(0.25rem, 0.5vw, 0.5rem);
}
.available-flights__items__flight-details__from img, .available-flights__items__flight-details__to img {
  padding: 0 clamp(0.5rem, 1vw, 1rem);
  width: clamp(32px, 5vw, 70px);
}
.available-flights__items__flight-details__from p, .available-flights__items__flight-details__to p {
  font-family: "Montserrat";
  font-size: clamp(1rem, 2vw, 1.75rem);
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 0.5rem;
}
.available-flights__items__flight-details__from span, .available-flights__items__flight-details__to span {
  font-family: "Montserrat";
  font-size: clamp(0.5rem, 1vw, 1rem);
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 0.5rem;
}
.available-flights__items__flight-details__stops {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  height: 100%;
}
.available-flights__items__flight-details__stops .line {
  position: relative;
  width: 100%;
  height: 2px;
  margin: 0 0.2rem;
  background-color: rgba(0, 0, 0, 0.6);
}
.available-flights__items__flight-details__stops .expand-flight-stops {
  cursor: pointer;
  color: #5d478b;
  transition: transform 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.available-flights__items__flight-details__stops .expand-flight-stops.expanded-btn {
  transform: rotate(180deg);
  transition: transform 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.available-flights__items__flight-details__stops div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.available-flights__items__flight-details__stops i {
  color: rgba(0, 0, 0, 0.3);
}
.available-flights__items__flight-details__stops p {
  font-family: "Montserrat";
  font-size: clamp(0.6rem, 0.97vw, 0.85rem);
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.3rem 0;
}
.available-flights__items__flight-price {
  padding: 1rem 2rem;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-left: 1px solid rgba(97, 96, 96, 0.2);
}
.available-flights__items__flight-price.expanded-section {
  border: none;
}
.available-flights__items__flight-price p {
  font-family: "Montserrat";
  font-size: clamp(1rem, 1.6vw, 1.4rem);
  font-weight: 400;
  color: #000000;
}
.available-flights__items__flight-price button {
  font-size: clamp(0.65rem, 1vw, 1rem);
  width: clamp(4rem, 6.85vw, 6rem);
  height: 2.25rem;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 5px;
  background-color: #174885;
}

.passenger-details-wrapper {
  display: block;
  width: 65%;
  padding: 1rem 0;
  margin: auto;
  position: relative;
  height: auto;
  overflow: hidden;
}

.adult-passenger-details-container {
  position: relative;
  background-color: #174885;
  box-shadow: 0 2px 10px 2px rgba(126, 126, 126, 0.6);
  padding-bottom: 0.1rem;
  margin-bottom: 1rem;
  transition: height 0.2s ease-in;
}
.adult-passenger-details-container.contact-info {
  padding-bottom: 0.75rem;
}
.adult-passenger-details-container .age-group-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adult-passenger-details-container .age-group-container .age-group {
  display: block;
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff;
  padding: 1rem;
}
.adult-passenger-details-container .age-group-container .age-group-expand {
  padding: 0 1rem;
  color: white;
  transform: rotate(180deg);
  transition: transform 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  cursor: pointer;
}
.adult-passenger-details-container .age-group-container .age-group-expand.collapsed {
  transform: rotate(0);
  transition: transform 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.adult-passenger-details-container.collapsed {
  height: 3rem;
  transition: height 0.2s ease-out;
}
.adult-passenger-details-container.collapsed .adult-passenger-details-container__items {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-out;
}
.adult-passenger-details-container__items {
  position: relative;
  margin-bottom: 0rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  background-color: white;
  height: 19rem;
  transition: height 0.1s ease-in;
  opacity: 1;
  pointer-events: all;
}
.adult-passenger-details-container__items.contact-info {
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adult-passenger-details-container__items.contact-info.email-address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.adult-passenger-details-container__items.collapsed {
  height: 2.7rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.6);
  transition: height 0.1s ease-out;
}
.adult-passenger-details-container__items.collapsed .adult-passenger-details-container__items--info {
  opacity: 0;
  transition: opacity 0.05s ease-out;
}
.adult-passenger-details-container__items .passenger-number-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(126, 126, 126, 0.2);
}
.adult-passenger-details-container__items .passenger-number {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  padding: 0.8rem;
}
.adult-passenger-details-container__items .passenger-expand {
  padding: 0 1.25rem;
  transform: rotate(180deg);
  transition: transform 0.2s ease-out;
  cursor: pointer;
}
.adult-passenger-details-container__items .passenger-expand.collapsed {
  transform: rotate(0);
  transition: transform 0.2s ease-out;
}
.adult-passenger-details-container__items .passenger-full-name,
.adult-passenger-details-container__items .passenger-passport,
.adult-passenger-details-container__items .passenger-contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.adult-passenger-details-container__items .passenger-full-name input,
.adult-passenger-details-container__items .passenger-passport input,
.adult-passenger-details-container__items .passenger-contact-info input {
  position: relative;
}
.adult-passenger-details-container__items .passenger-full-name input::-webkit-calendar-picker-indicator,
.adult-passenger-details-container__items .passenger-passport input::-webkit-calendar-picker-indicator,
.adult-passenger-details-container__items .passenger-contact-info input::-webkit-calendar-picker-indicator {
  font-family: "Montserrat";
  font-size: 1.05rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  padding: 0;
}
.adult-passenger-details-container__items .passenger-birthdate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.adult-passenger-details-container__items .passenger-birthdate input::-webkit-calendar-picker-indicator {
  font-family: "Montserrat";
  font-size: 1.05rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  padding: 0;
}
.adult-passenger-details-container__items--info {
  opacity: 1;
  position: relative;
  padding: 1rem 1rem;
  transition: opacity 0s 0.1s ease-out;
}
.adult-passenger-details-container__items--info label {
  display: block;
}
.adult-passenger-details-container__items--info input {
  position: relative;
  border: 1px solid rgba(126, 126, 126, 0.5);
  padding: 0.5rem 1rem;
  line-height: 1rem;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  width: 15rem;
}

.seats-page-wrapper {
  position: relative;
  height: 150%;
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1.5fr 3fr 1fr;
}
.seats-page-wrapper__item {
  border: 1px solid red;
  padding: 1rem 2rem;
}
.seats-page-wrapper .selected-seats-container {
  display: grid;
  gap: 2rem;
  grid-auto-flow: row;
  grid-auto-rows: 8%;
  overflow-x: hidden;
  overflow-y: auto;
}
.seats-page-wrapper .selected-seats-container::-webkit-scrollbar {
  display: none;
}
.seats-page-wrapper .selected-seats-container .passenger-selected-seat {
  background: linear-gradient(#5c67e6, #174885);
  border-radius: 15px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
  padding: 0.2rem 1rem;
  display: grid;
  align-items: center;
}
.seats-page-wrapper .selected-seats-container .passenger-selected-seat .select-seat-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seats-page-wrapper .selected-seats-container .passenger-selected-seat .select-seat-status p {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
}
.seats-page-wrapper .selected-seats-container .passenger-selected-seat .select-seat-status i {
  font-size: 1.25rem;
  color: #ffffff;
  animation: rotate360 0.4s linear infinite;
}
.seats-page-wrapper .selected-seats-container .passenger-selected-seat .passenger-info-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seats-page-wrapper .selected-seats-container .passenger-selected-seat .passenger-info-extra__number {
  color: #ffffff;
}
.seats-page-wrapper .selected-seats-container .passenger-selected-seat .passenger-info-extra__value {
  font-family: "Montserrat";
  font-size: 0.75rem;
  font-weight: 400;
  color: #ffffff;
}
.seats-page-wrapper .selected-seats-container .passenger-selected-seat .passenger-info-extra__value span {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 700;
  color: #ffdf29;
}

.sticky-passenger-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: 0;
  left: 5%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 90%;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
}
.sticky-passenger-list-container .extra-cost-container {
  display: flex;
  position: relative;
  height: 100%;
  width: 15%;
  padding-right: 1rem;
}
.sticky-passenger-list-container .extra-cost-container .extra-cost {
  display: grid;
  place-items: center;
  padding: 1rem;
  width: 100%;
  border-top-left-radius: 25px;
  background-color: #174885;
}
.sticky-passenger-list-container .extra-cost-container .extra-cost p {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  padding: 0.2rem 0;
}
.sticky-passenger-list-container .extra-cost-container .extra-cost .extra-cost-title {
  font-size: 1.1rem;
  font-weight: 700;
}
.sticky-passenger-list-container .passenger-list {
  position: relative;
  width: 70%;
  height: 100%;
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: column;
  grid-auto-columns: 12%;
  overflow-y: hidden;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  background: white;
}
.sticky-passenger-list-container .passenger-list::-webkit-scrollbar {
  display: none;
}
.sticky-passenger-list-container .passenger-list .passenger-container {
  position: relative;
  display: grid;
  gap: 0.5rem;
  place-items: center;
  padding: 0.8rem 1rem;
  border-radius: 7.5px;
  background: rgba(23, 72, 133, 0.1);
  transition: background 0.2s ease-out;
  cursor: pointer;
}
.sticky-passenger-list-container .passenger-list .passenger-container:hover {
  background: rgba(23, 72, 133, 0.175);
  transition: background 0.2s ease-out;
}
.sticky-passenger-list-container .passenger-list .passenger-container i {
  color: #5d478b;
}
.sticky-passenger-list-container .passenger-list .passenger-container p {
  display: block;
  font-family: "Montserrat";
  font-size: 0.8rem;
  font-weight: 700;
  color: #5d478b;
}
.sticky-passenger-list-container .finish-btn {
  padding-left: 1rem;
  padding-right: 1rem;
}
.sticky-passenger-list-container .finish-btn .seats-done-btn {
  width: 11rem;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
}

@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.about-page-title {
  color: red;
}

.main {
  display: grid;
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}

.img-slideshow {
  max-width: 100%;
  height: 50%;
  border: 1px solid red;
  z-index: -1;
  overflow: hidden;
}
.img-slideshow img {
  position: relative;
  top: -40%;
}

.body {
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  max-width: 100dvw;
  height: 50rem;
  z-index: 0;
}

.form-container {
  display: inline-block;
  position: absolute;
  top: calc(75% - 1rem);
  left: calc(30% - 2rem);
  right: 0;
  bottom: 0;
  width: 40%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem 2rem;
  border-radius: 25px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  background: #ffffff;
  z-index: 2;
}

.form-btn {
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  background: #5d478b;
  box-shadow: 0px 2px 0.3rem 0 rgba(0, 0, 0, 0.5);
  font-family: "Montserrat";
  font-size: 1em;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3rem;
  padding: 0.75rem 1.25rem;
  margin-left: auto;
  margin-top: 2.5%;
  cursor: pointer;
}

.swap-btn {
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  background: #174885;
  box-shadow: 0px 2px 0.3rem 0 rgba(0, 0, 0, 0.5);
  font-family: "Montserrat";
  font-size: 1em;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  z-index: 4;
  top: 1.05rem;
  left: calc(50% - 1rem);
  right: 0;
  bottom: 0;
  width: 2rem;
  height: 2rem;
}

.with-dropdown-select {
  position: relative;
}
.with-dropdown-select__input {
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #b399b0;
}
.with-dropdown-select__container {
  position: relative;
  display: block;
  background: #ffffff;
  margin: 5px 0;
  border: 1px solid #b399b0;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.with-dropdown-select__container__options:hover {
  background: rgba(23, 72, 133, 0.5);
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .img-slideshow {
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  .img-slideshow img {
    top: 0%;
    left: -50%;
  }
  .form-container {
    position: absolute;
    top: 75vh;
    left: calc(12.5% - 2rem);
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 75%;
    height: 100%;
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    background: #ffffff;
    z-index: 2;
  }
}/*# sourceMappingURL=main.css.map */