.about-page-title
{ 
    padding-left: 0.75em;
    text-align: center;
    color: black;
    font-weight: oblique; 
    font-size: 10vh;
    font-family : fantasy;
    padding-bottom: 0px;
    
    
}
.essay
{   
  margin: 2em;  
  text-align: center;
  text-justify: inter-word;
  line-height: 1.3;
  font-weight: 500;
  color: black;
  font-size: 3.5vh;
  font-family: Georgia, serif;
  position:relative;
  padding-bottom:0px;
  // overflow-wrap:
  // white-space: nowrap;
  

}
.mission{
    padding-left: 0.75em;
    text-align: center;
    color: black;
    font-weight: oblique; 
    font-size: 10vh;
    font-family : fantasy;
    padding-bottom: 0px;

}
.mission-content{
  margin: 2em;  
  text-align: center;
  text-justify: inter-word;
  line-height: 1.3;
  font-weight: 500;
  color: black;
  font-size: 3.5vh;
  font-family: Georgia, serif;
  position:relative;
  white-space: nowrap;
  padding-top: 0%;
  padding-bottom: 0px;

}
.vision{   
    padding-left: 0.75em;
    text-align: center;
    color: black;
    font-weight: oblique; 
    font-size: 10vh;
    font-family : fantasy;
    padding-bottom: 0%;

}
.vision-content{
    margin:2em;
    text-align: center;
    text-justify: inter-word;
    line-height: 1.3;
    font-weight: 500;
    color: black;
    font-size: 3.5vh;
    font-family: Georgia, serif;
    position:relative;
    white-space: nowrap;
    padding-top: 0%;
    padding-bottom: 0px;

}

.bg-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position:  center;
    z-index: -1;
}

.bg-image{
    position: fixed;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);
  	z-index: -1;
    opacity: 0.6; 
    height: 70vh;
}
  
