@mixin flex($justify-content: space-between, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin transition-ease($speed, $transition: ease-in-out) {
    transition: all $speed $transition;
}


@mixin font($font-size, $weight, $font-family: $primary-font) {
    font-size: $font-size;
    font-weight: $weight;
    font-family: $font-family;
}

@mixin form-button($border-radius, $btn-color) {
    border: none;
    border-radius: $border-radius;
    text-transform: uppercase;
    @include color($btn-color);
    box-shadow: 0px 2px 0.3rem 0 rgba(0, 0, 0, 0.5);
    @include font(1em, 700);
}

@mixin focused($parent, $top: 10%, $left: 10%) {

    &::after {
        position: absolute;
        pointer-events: none;
        font-size: clamp(0.25em, 0.65vw, 1em);
        font-weight: 300;
        top: $top;
        bottom: 0;
        left: $left;
        right: 0;
        @include transition-ease(0.15s, ease-out);
    }

    & {

        .flight-location-input__container {
            border: 2px solid $primary-button;
        }
    }
}

@mixin color($bg) {
    background: $bg;
    color: text-color($bg);
}

@function text-color($background) {
    @if (lightness($background) > 50) {
        @return black;
    }
    @else {
        @return white;
    }
}

@mixin custom-scrollbar($container-color, $scrollbar-color: $primary-button) {

    input::-webkit-calendar-picker-indicator {
        font-size: 18px;
        padding-inline: 1rem;
    }
    
    *::-webkit-scrollbar {
        width: 17.5px;
    }
    
    *::-webkit-scrollbar-track {
        margin: 10px 10px;
    }
    
    *::-webkit-scrollbar-thumb {
        background: $lighter-primary-button;
        border: 5px solid $container-color;
        border-radius: 100px;
    
        &:hover {
            background: $scrollbar-color;
        }
    }
}