$width: 65%;

body {
    background: rgb(240, 231, 231);
}

.current-page-indicator {
    @include flex;
    width: $width;
    color: $secondary-color;
    margin: auto;
    padding: 1rem 0;

    p {
        @include font($primary-font, 0.75rem, 700, $primary-color);
        text-align: center;
        width: 13%;
        background: $accent;
        padding: 0.75rem 0.5rem;
    }

}

.flight-input-details {
    position: relative;
    width: $width;
    height: 8%;
    margin: auto;
    background: $primary-button;
    padding: clamp(0.5rem, 1vw, 1rem) clamp(0.5rem, 1vw, 1rem);
    color: $secondary-color;
    @include flex;

    &__items {
        @include flex;
        position: relative;
        // border: 1px solid red;

        i {
            font-size: clamp(1rem, 1.71vw, 1.5rem);
            padding: 0 clamp(0.5rem, 1vw, 1rem);
        }

        .input-details {
            display: block;

            p {
                @include font($primary-font, clamp(0.75rem, 1.6vw, 1.4rem), 400, $secondary-color);
                text-transform: uppercase;
            }

            span {
                @include font($primary-font, clamp(0.5rem, 0.85vw, 0.75rem), 400, $secondary-color);
            }
        }

        .input-departure-date {
            display: block;
            padding-right: clamp(0.5rem, 1vw, 1rem);

            p {
                font-size: clamp(0.5rem, 1vw, 1rem);
            }

            span {
                font-size: clamp(0.35rem, 0.86vw, 0.75rem);
            }

        }

    }
}

.available-flights {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: calc($width + 2rem);
    position: relative;
    height: auto;
    padding: 0rem 0;
    margin: auto;

    &__container-expandable {
        display: block;
        position: relative;
        width: 100%;
        margin: auto;
        // border: 2px solid red;
    }

    &__items {
        position: relative;
        @include flex;
        width: 100%;
        height: 11%;
        padding: 0.5rem 0;
        margin: 0.5rem 0;
        border-radius: 20px;
        border: 1px solid rgba(129, 129, 129, 0.2);
        box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.4);
        background: white;

        &.expanded {
            margin-bottom: 0;
        }

        &.expanded-section {   
            background: transparent;
            box-shadow: none;
            position: relative;
            padding: 0 0;
            border: none;
            width: 100%;
            height: 0rem;
            z-index: -1;
            margin: 0 0;
            opacity: 0;
            top: -1rem;
            transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
            // pointer-events: none;

            &.expanded {
                height: auto;
                opacity: 1;
                top: 0rem;
                // z-index: 1;
                transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }

        &.no-result{
            @include flex(center);
            width: 100%;
            text-align: center;
            position: relative;
            width: 100%;
            height: 11%;
            padding: 2rem 0;
            margin: 0.5rem 0;

            p {
                @include font($primary-font, clamp(0.75rem, 1.6vw, 1.4rem), 700, $primary-color);
                padding: 0.1rem 0.1rem;
            }

            span {
                @include font($primary-font, clamp(0.5rem, 1vw, 1rem), 400, $primary-color);
            }

        }

        &__flight-details {
            margin: clamp(0.5rem, 1vw, 1rem);
            width: 70%;
            @include flex;
            text-align: center;
            position: relative;

            &.expanded-section {
                position: relative;
                background-color: white;
                // height: 100%;
                border-radius: 0 0 10px 10px;
                border: 1px solid rgba(129, 129, 129, 0.2);
                box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.4);
                margin-top: 0;
                margin-bottom: 1rem;

                .flight-timeline-wrapper {
                    display: block;
                    width: 100%;

                    .flight-timeline-p {
                        font-weight: 700;
                        background-color: $primary-button;
                        color: white;
                        padding: 0.75rem;
                        border: 1px solid rgba(129, 129, 129, 0.2);
                    }

                    .flight-number {
                        padding: 0.5rem;
                        font-size: 0.8rem;
                    }

                    .flight-route-container {
                        @include flex(space-around);
                        padding: 0.5rem 2rem;

                        p {
                            @include font($primary-font, 0.8rem, 400, $primary-color);
                            width: 5rem;
                        }
                        
                        .route-wrapper {
                            display: block;
                            width: 100%;

                            .route-from,
                            .route-to {
                                @include flex(flex-start);
                                padding: 0.5rem 0;

                                .time,
                                .iata {
                                    @include font($primary-font, 1rem, 400, $primary-color);
                                }

                                .name {
                                    width: 100%;
                                    text-align: left;
                                    padding: 0 0.5rem;
                                    @include font($primary-font, 1rem, 400, $primary-color);
                                }
                            }
                        }
                    }

                    .footer {
                        @include flex(flex-start);

                        p {
                            padding: 1rem 2rem;
                            @include font($primary-font, 0.8rem, 400, $primary-color);

                            span {
                                font-weight: 700;
                            }
                        }
                    }
                }
    
            }

            &__from,
            &__to {
                @include flex;
                width: 100%;

                div {
                    width: 100%;
                    padding: 0 clamp(0.25rem, 0.5vw, 0.5rem);
                }
                img {
                    padding: 0 clamp(0.5rem, 1vw, 1rem);
                    width: clamp(32px, 5vw, 70px);
                }
                
                p {
                    @include font($primary-font, clamp(1rem, 2vw, 1.75rem), 500, rgba($primary-color, 0.7));
                    padding-bottom: 0.5rem;
                }

                span {
                    @include font($primary-font, clamp(0.5rem, 1vw, 1rem), 500, rgba($primary-color, 0.7));
                    padding-bottom: 0.5rem;                   
                }
            }

            &__stops {
                
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                position: relative;
                width: 100%;
                height: 100%;

                .line {
                    position: relative;
                    width: 100%;
                    height: 2px;
                    margin: 0 0.2rem;
                    background-color: rgba(0, 0, 0, 0.6);
                }

                .expand-flight-stops {
                    cursor: pointer;
                    color: $secondary-button;

                    &.expanded-btn {
                        transform: rotate(180deg);
                    }
                }

                div {
                    @include flex;
                }

                i {
                    color: rgba(0, 0, 0, 0.3); 

                }

                p {
                    @include font($primary-font, clamp(0.6rem, 0.97vw, 0.85rem), 400, rgba($primary-color, 0.8));
                    padding: 0.3rem 0;
                }
            }
        }

        &__flight-price {
            padding: 1rem 2rem;
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            border-left: 1px solid rgba(97, 96, 96, 0.2);

            &.expanded-section {
                border: none;
            }

            p {
                @include font($primary-font, clamp(1rem, 1.6vw, 1.4rem), 400, $primary-color);
            }
            
            button {
                font-size: clamp(0.65rem, 1vw, 1rem);
                width: clamp(4rem, 6.85vw, 6rem);
                height: 2.25rem;
                margin: 0 auto;
                cursor: pointer;
                border-radius: 5px;
                background-color: $primary-button;
            }
        }
    }
}
