.flight-location-form {
    @include flex;
    position: relative;
    padding: 1.25rem 0;
    z-index: 2;
    // transform: translateX(100%);
  
    .flight-location-form__container {

        display: block;
        position: fixed;
        background: $secondary-color;
        // border: 1px solid $primary-button;
        border-radius: 10px;
        max-height: 20rem;
        overflow-y: scroll;
        overflow-x: hidden;
        left: 1em;

        &::-webkit-scrollbar {
            width: 17.5px;
        }

        &::-webkit-scrollbar-track {
            margin: 10px 10px;
        }

        &::-webkit-scrollbar-thumb {
            background: $lighter-primary-button;
            border: 5px solid white;
            border-radius: 100px;
            // background-clip: border-box;

            &:hover {
                background: $primary-button;
            }
        }

        &__options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            background: $secondary-color;
            width: 28rem;
            height: 2rem;
            padding: 1.25rem 0.5rem;
            border-bottom: 1px solid $lighter-primary-button;
            
            p {
                font-size: 0.8rem;
                color: $primary-color;
            }

            span {
                text-align: center;
                width: 55px;
                padding: 0.4rem 0.4rem;
                background: $secondary-button;
                border-radius: 5px;
                @include font($primary-font, 0.9rem, 700, $secondary-color);
            }

            &:hover {
                
                background: rgba($primary-button, 1);

                p {
                    color: $secondary-color;
                }
            }
        }
    }

    div {
        @include font($primary-font, 1rem, 400, $primary-button);
        // border: 1px solid $lighter-primary-button;

        input {
            width: 12rem;
            height: 2.75rem;
            outline: none;
            border: none;
            text-align: left;
            @include font($primary-font, 1rem, 400, $primary-color);
            z-index: 3;
        }
    }

    #from {
        border-radius: 10px 0 0 10px;
        
        .flight-location-input__container {
            padding: 0 2rem 0 0;
            border: 1px solid $primary-button;
            border-radius: 10px 0 0 10px;
        }

        input {
            margin-left: 10px;
            border-radius: 10px 0 0 10px;
        }

        &::before {
            content: 'From';
            position: absolute;
            pointer-events: none;
            font-size: 1rem;
            top: 32.5%;
            bottom: 0;
            left: 5%;
            right: 0;
            @include transition-ease(0.15s, ease-out);
        }

        &.focused {
            &::before {
                content: 'From';
                position: absolute;
                pointer-events: none;
                font-size: 0.7rem;
                font-weight: 300;
                top: 5%;
                bottom: 0;
                left: 5%;
                right: 0;
                @include transition-ease(0.15s, ease-out);
            }
            .flight-location-input__container {
                border: 2px solid $primary-button;
            }

        }
        &.invalid {
            &::before {
                color: $invalid-color;
            }
            &::after {
                content: "This field is required";
                position: absolute;
                @include font($primary-font, 0.8rem, 300, $invalid-color);
                top: 100%;
                bottom: 0;
                left: 5%;
                right: 0;
                z-index: -1;
                padding-top: 0.3rem;
                padding-bottom: 0.3rem;
            }
            
            .flight-location-input__container {
                border: 2px solid $invalid-color;
            }
        }
    }

    #to {

        border-radius: 0 10px 10px 0;

        .flight-location-input__container {
            padding: 0 0 0 2rem;
            border: 1px solid $primary-button;
            border-radius: 0 10px 10px 0;
        }

        input {
            margin-right: 10px;
            border-radius: 0 10px 10px 0;
        }

        &::before {
            content: 'To';
            position: absolute;
            pointer-events: none;
            font-size: 1rem;
            top: 32.5%;
            bottom: 0;
            left: 2rem;
            right: 0;
            @include transition-ease(0.15s, ease-out);
        }

        &.focused {

            &::before {
                content: 'To';
                position: absolute;
                pointer-events: none;
                font-size: 0.7rem;
                font-weight: 300;
                top: 5%;
                bottom: 0;
                left: 2rem;
                right: 0;
                @include transition-ease(0.15s, ease-out);
            }

            .flight-location-input__container {
                border: 2px solid $primary-button;
            }
        }

        &.invalid {
            &::before {
                color: $invalid-color;
            }

            &::after {
                content: 'This field is required';
                position: absolute;
                @include font($primary-font, 0.8rem, 300, $invalid-color);
                top: 100%;
                bottom: 0;
                left: 5%;
                right: 0;
                z-index: -1;
                padding-top: 0.3rem;
                padding-bottom: 0.3rem;
            }

            .flight-location-input__container {
                border: 2px solid $invalid-color;
            }
        }
    }
}