body {
    background: $primary-color;
    // overflow-x: hidden;
    // overflow-y: scroll;
}

.flight-input-details {
    position: relative;
    width: $width;
    height: 8%;
    margin: auto;
    background: $primary-button;
    padding: clamp(0.5rem, 1vw, 1rem) clamp(0.5rem, 1vw, 1rem);
    color: $secondary-color;
    @include flex;

    &__items {
        @include flex;
        position: relative;
        // border: 1px solid red;

        i {
            font-size: clamp(1rem, 1.71vw, 1.5rem);
            padding: 0 clamp(0.5rem, 1vw, 1rem);
        }

        .input-details {
            display: block;

            p {
                @include font(clamp(0.75rem, 1.6vw, 1.4rem), 400);
                text-transform: uppercase;
            }

            span {
                @include font(clamp(0.5rem, 0.85vw, 0.75rem), 400);
            }
        }

        .input-departure-date {
            display: block;
            padding-right: clamp(0.5rem, 1vw, 1rem);

            p {
                font-size: clamp(0.5rem, 1vw, 1rem);
            }

            span {
                font-size: clamp(0.35rem, 0.86vw, 0.75rem);
            }

        }

    }
}

.available-flights-input-details {
    position: relative;
    place-self: center;
    margin: 0;
    width: 95%;
    height: 10vh;
}

.input-results-wrapper {
    @include flex(center);
    flex-direction: column;
    gap: 0.25rem;
}

.available-flights {
    display: grid;
    grid-auto-rows: auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    height: 100%;
    width: calc($width + 2rem);
    position: relative;
    padding: 0rem 0;
    // margin: auto;
    gap: 0.25rem;

    &__container-expandable {
        display: block;
        position: absolute;
        width: 100%;
        margin: auto;
        // border: 2px solid red;
    }

    &__items {
        position: relative;
        @include flex;
        // width: 100%;
        padding: 1.5rem;
        // padding: 0.5rem 0;
        // margin: 1rem 0;
        border-radius: 20px;
        border: 1px solid rgba(129, 129, 129, 0.2);
        box-shadow: 0 0 5px 0 rgba($primary-button, 0.1);
        background: white;

        &:hover {
            transition: all 0.2s ease;
            box-shadow: 0 0 5px 0 rgba($primary-button, 0.3);
        }

        &.expanded {
            margin-bottom: 0;
        }

        &.expanded-section {   
            background: transparent;
            box-shadow: none;
            position: relative;
            padding: 0 0;
            border: none;
            width: 100%;
            height: 0rem;
            z-index: -1;
            margin: 0 0;
            opacity: 0;
            top: -1rem;
            transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
            // pointer-events: none;

            &.expanded {
                height: auto;
                opacity: 1;
                top: 0rem;
                // z-index: 1;
                transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }

        &.no-result{
            @include flex(center);
            width: 100%;
            text-align: center;
            position: relative;
            width: 100%;
            height: auto;
            padding: 2rem 0rem;
            margin: 0.5rem 0;

            p {
                @include font(clamp(0.75rem, 1.6vw, 1.4rem), 700);
                padding: 0.1rem 0.5rem;
            }

            span {
                @include font(clamp(0.5rem, 1vw, 1rem), 400);
            }

        }

        &__flight-details {
            margin: clamp(0.5rem, 1vw, 1rem);
            width: 70%;
            @include flex;
            text-align: center;
            position: relative;

            &.expanded-section {
                position: relative;
                background-color: white;
                // height: 100%;
                border-radius: 0 0 10px 10px;
                border: 1px solid rgba(129, 129, 129, 0.2);
                box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.4);
                margin-top: 0;
                margin-bottom: 1rem;

                .flight-timeline-wrapper {
                    display: block;
                    width: 100%;

                    .flight-timeline-p {
                        font-weight: 700;
                        background-color: $primary-button;
                        color: white;
                        padding: 0.75rem;
                        border: 1px solid rgba(129, 129, 129, 0.2);
                    }

                    .flight-number {
                        padding: 0.5rem;
                        font-size: 0.8rem;
                    }

                    .flight-route-container {
                        @include flex(space-around);
                        padding: 0.5rem 2rem;

                        p {
                            @include font(0.8rem, 400);
                            width: 5rem;
                        }
                        
                        .route-wrapper {
                            display: block;
                            width: 100%;

                            .route-from,
                            .route-to {
                                @include flex(flex-start);
                                padding: 0.5rem 0;

                                .time,
                                .iata {
                                    @include font(1rem, 400);
                                }

                                .name {
                                    width: 100%;
                                    text-align: left;
                                    padding: 0 0.5rem;
                                    @include font(1rem, 400);
                                }
                            }
                        }
                    }

                    .footer {
                        @include flex(flex-start);

                        p {
                            padding: 1rem 2rem;
                            @include font(0.8rem, 400);

                            span {
                                font-weight: 700;
                            }
                        }
                    }
                }
    
            }

            &__from,
            &__to {
                @include flex;
                width: 100%;

                div {
                    width: 100%;
                    padding: 0 clamp(0.25rem, 0.5vw, 0.5rem);
                }
                img {
                    padding: 0 clamp(0.5rem, 1vw, 1rem);
                    width: clamp(32px, 5vw, 70px);
                }
                
                p {
                    @include font(clamp(1rem, 2vw, 1.75rem), 500);
                    padding-bottom: 0.5rem;
                }

                span {
                    @include font(clamp(0.5rem, 1vw, 1rem), 500);
                    padding-bottom: 0.5rem;                   
                }
            }

            &__stops {
                
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                position: relative;
                width: 100%;
                height: 100%;

                .line {
                    position: relative;
                    width: 100%;
                    height: 2px;
                    margin: 0 0.2rem;
                    background-color: rgba(0, 0, 0, 0.6);
                }

                .expand-flight-stops {
                    cursor: pointer;
                    color: $secondary-button;
                    transition: transform 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.335);

                    &.expanded-btn {
                        transform: rotate(180deg);
                        transition: transform 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
                    }
                }

                div {
                    @include flex;
                }

                i {
                    color: rgba(0, 0, 0, 0.3); 

                }

                p {
                    @include font(clamp(0.6rem, 0.97vw, 0.85rem), 400);
                    padding: 0.3rem 0;
                }
            }
        }

        &__flight-price {
            padding: 1rem 2rem;
            width: 20%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            border-left: 1px solid rgba(97, 96, 96, 0.2);

            &.expanded-section {
                border: none;
            }

            p {
                @include font(clamp(1rem, 1.6vw, 1.4rem), 400);
            }
            
            button {
                font-size: clamp(0.65rem, 1vw, 1rem);
                width: clamp(4rem, 6.85vw, 6rem);
                height: 2.25rem;
                margin: 0 auto;
                cursor: pointer;
                border-radius: 5px;
                background-color: $primary-button;
            }
        }
    }
}

.flight-wrapper {
    margin-top: 64px;
    // border: 1px solid red;

    .home-body {
        display: grid;
        // grid-template-rows: 100%;
        grid-template-columns: 24% 76%;
    }

    .sidebar {
        // border: 1px solid red;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.75fr 0.5fr 6.5fr 1.5fr;
        gap: 0;
    }

    .flights-pg-location-form {
        // grid-row: 3;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 1fr);
        gap: 0.5rem;
    }

    .filter-section-sidebar {
        position: relative;
        // height: 100%;
        // border: 1px solid red;
        padding-inline: $_sidebar-padding-inline;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto atuo;
        // @include flex(space-around, stretch);
        // flex-direction: column;
        gap: 0.25rem;

        .filter-heading {
            @include flex(center, flex-start);
            flex-direction: column;
            gap: 0.5rem;
            @include font(clamp(1em, 1.4vw, 1.5em), 700);
            color: $primary-button;
            
            span {
                @include font(clamp(0.75em, 1vw, 1em), 400);
            }
        }

        .stops-btns-container {
            @include flex(space-between, stretch);
            flex-direction: column;
            gap: 0.25rem;
            position: relative;

            form {
                position: relative;
                width: 100%;
            }

            button {
                text-transform: uppercase;
                @include font(0.75em, 500);
                width: 100%;
            }
        }

        .sort-by-btns-container {
            @include flex(space-between);
            flex-direction: row;

            button {
                text-transform: uppercase;
                @include font(0.75em, 500);
            }

        }

        .departure-time-slider-container,
        .duration-slider-container {
            position: relative;
            @include flex(center, flex-start);
            flex-direction: column;
            align-self: stretch;
            gap: 0.5rem;

            .filter-subsection__heading {
                font-weight: 700;
                color: $primary-button;
            }

            .fiter-subsection__subheading {
                @include font(0.8em, 400);
            }

            .slider {
                position: relative;
                width: 100%;
                height: 2px;
                background: $primary-button;
            }
        }
    }

    .filter-flights-btn-container {
        
        button {
            @include font(clamp(1em, 1.75vw, 2em), 700);
        }
    };
}

.sort-by-btn {
    padding: #{fluid(4px, 12px)};
}

.radio-btn {
    padding: #{fluid(2px, 8px)};
}

.available-flights-test {

    position: relative;
    overflow-y: scroll;
    // width: calc(100% - 4rem);
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 25.5%;
    padding: 0 2rem 2rem 2rem;
    // border: 1px solid red;

    .flight-container {
        background: linear-gradient(to bottom, $secondary-color 60%, $primary-color);
        // border: 1px solid red;
        width: 100%;
        height: 17.5vh;
        @include flex(space-between);
        box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        border: 1px solid rgba($primary-button, 0.05);
        position: relative;
        cursor: pointer;

        &:hover {
            background: linear-gradient(to bottom, $secondary-color 40%, $primary-color);
            border: 1px solid rgba($primary-button, 0.3);
        }

        div, p {
            pointer-events: none;
            user-select: none;
        }

        .flight-details-section {
            flex-grow: 1;
            align-self: stretch;
            display: grid;
            grid-template-columns: 20% 80%;
            position: relative;

            .flight-details-subsection {
                position: relative;
                height: 100%;
                // border: 1px solid red;
                @include flex(center);
            
                &.stops {
                    @include font(1.2em, 700);
                    color: $primary-button;
                    text-transform: uppercase;

                    ::before {
                        content: "";
                        position: absolute;
                        right: 1px;
                        top: 10%;
                        height: 80%;
                        width: 2px;
                        background: $primary-color;

                    }
                }

                &.details {
                    display: grid;
                    grid-template-columns: 1fr 3fr 1fr;

                    div {
                        @include flex(center);
                        flex-direction: column;
                    }

                    .airplane-track-container {
                        position: relative;
                        // border: 1px solid red;
                        @include flex(space-evenly);
                        flex-direction: column;
                        
                        i {
                            font-size: 1.5em;
                            color: rgba($primary-button, 0.3);
                        }

                        .airplane-track-duration {
                            p {
                                @include font(0.8rem, 400);
                                color: rgba($primary-button, 0.8);
                            }
                        }

                        .airplane-main-track {

                            position: relative;
                            width: 100%;
                            @include flex(space-evenly);
                            flex-direction: row;

                            .airplane-track {
                                position: relative;
                                height: 2px;
                                width: 90%;
                                background: rgba($primary-button, 0.3);
                            
                            }
                        }

                    }

                    .time-location {
                        p {
                            @include font(1.85em, 700);
                            color: $primary-button;
                            letter-spacing: -0.01em;
                            font-family: $secondary-font;
                        }
                        span {
                            @include font(1em, 400);
                        }
                    }
                }
            }
        }

        .flight-price-section {
            animation: closeFlightContainer2 0.3s ease-out forwards;
            position: relative;
            width: 20%;
            align-self: stretch;
            @include color($primary-button);
            @include flex(center);
            padding: 1rem;
            border-radius: 0 20px 20px 0;

            p {
                @include font(1.25em, 700);
            }
            
            button {
                display: none;
            }
        }
    }
}

.popup-wrapper {
    display: none;
    position: absolute;
    z-index: 999;
    width: 76%;
    height: calc(100dvh - 64px);
    left: 24%;
    background-color: rgba(0, 0, 0, 0.45);

    &.selected {
        display: block;

        .popup-selected-details {
            animation: scaleUp 0.1s ease-out forwards;
        }
    }

    &.closing {
        display: block;
        .popup-selected-details {
            animation: scaleDown 0.1s ease-in forwards;
        }
    }
    
    .show-results-text {
        position: relative;
    }
}

.popup-selected-details {
    position: absolute;
    z-index: 999;
    width: 90%;
    height: 80%;
    top: 10%;
    left: 5%;
    background-color: $primary-color;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
    user-select: none;

    display: grid;
    grid-template-columns: 72% 28%;
    transform: scale(0);

    .popup-body {

        .flight-details-text-container {

            position: absolute;
            display: grid;
            z-index: 9999;
            width: 37.5%;
            grid-template-columns: 100%;
            grid-template-rows: 1fr auto;
            padding: 1rem;
            gap: 1rem;
            user-select: none;
            pointer-events: none;

            .flight-details-text {
                position: relative;
                // z-index: 9999;
                display: grid;
                width: 100%;
                grid-template-columns: auto 1fr auto;
                gap: 0.5rem;

                .map-flights-plane {
                    
                    position: relative;
                    width: 100%;
                    @include flex;
                    gap: 0.25rem;

                    i {
                        font-size: 1.5em;
                    }
    
                    .airplane-track {
                        position: relative;
                        height: 2px;
                        width: 100%;
                        background: rgba($primary-button, 0.4);
                    }

                }
                
                .map-flights-from,
                .map-flights-to {
    
                    @include flex(center, flex-start);
                    flex-direction: column;
                    // padding: 1rem;
                    color: $primary-button;
    
                    p {
                        @include font(2em, 700, $secondary-font);
                    }
    
                    span {
                        @include font(1em, 500, $secondary-font);
                    }
                }
            }

            .flight-stops-details {
                @include flex;
                flex-direction: column;
                gap: 1.5rem;
                // padding: 1rem;
                position: relative;
                width: 65%;

                .flight-stop-container {
                    display: grid;
                    grid-template-columns: repeat(4, auto);
                    position: relative;
                    // height: 100%;
                    width: 100%;
                    place-items: center;

                    .flight-stop-circle {
                        position: relative;
                        height: 90%;
                        // width: 100%;
                        aspect-ratio: 1;
                        background-color: rgba($primary-button, 0.5);
                        border-radius: 100px;
                        @include flex;
                    }

                    .flight-stop-departure,
                    .flight-stop-arrival {
                        @include flex(space-evenly);
                        position: relative;
                        gap: 0.25rem;
                        color: rgba($primary-button, 0.8);

                        &--time {
                            @include font(0.9em, 700, $secondary-font);
                        }

                        &--loc {
                            @include font(0.9em, 500, $secondary-font);
                        }
                    }
                }
            }
        }

        .map-flight-details-container {
            @include flex(stretch, stretch);
            background: $secondary-color;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .popup-sidebar {
        background-image: var(--bg-url);
        background-size: cover;
        background-color: rgba($primary-button, 0.5);
        background-blend-mode: overlay;
        filter: contrast(1.3);
        @include flex(center);
        flex-direction: column;
        gap: 0.25rem;
        padding-block: 1rem;

        &-text {
            // border: 1px solid red;
            @include flex(center);
            flex-direction: column;
            flex-grow: 1;
            align-self: stretch;
            gap: 0.35rem;

            p {
                color: $secondary-color;
            }

            &__municipality {
                @include font(1.625em, 700);
                text-transform: uppercase;
                letter-spacing: -0.005em;
            }

            &__desc {
                @include font(0.8em, 400);
            }
        }

        &-price {
            // border: 1px solid red;
            @include flex(center);
            flex-direction: column;
            align-self: stretch;
            gap: 0.1rem;

            p {
                color: $secondary-color;
            }

            &__price {
                @include font(1.25em, 500);
                text-transform: uppercase;
                letter-spacing: -0.01em; 
            }

            &__desc {
                @include font(0.8em, 400);
            }
        }

        &-button {
            @include flex(center);
            // border: 1px solid greenyellow;
            align-self: stretch;
            position: relative;
            padding: 1rem;
            cursor:  pointer;

            button {
                position: relative;
                height: 100%;
                width: 100%;
                padding: 0.5rem;
                text-transform: uppercase;
                @include font(1em, 700);
                color: $primary-button;
                border-radius: 0px;
                border: none;
                outline: none;
                cursor:  pointer;
            }
            // padding: 1rem;
        }
    }
}

.icon-plane {
    color: rgba($primary-button, 0.4);
}