// FLIGHT FORM IN THE HOME PAGE
.flight-location-form {
    flex-grow: 1;
    align-self: stretch;
    position: relative;
    z-index: 2;
    // @include flex(space-around);
    display: grid;
    // grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    place-content: stretch;
    padding-inline: 2rem;
    padding-block: 1rem;
    gap: 1em;

    .flight-location-form__container {

        display: block;
        position: absolute;
        top: 100%;
        background: $secondary-color;
        // border: 1px solid $primary-button;
        border-radius: 10px;
        max-height: 20rem;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        z-index: 999;

        &__options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include color($secondary-color);
            position: relative;
            width: 100%;
            height: 1rem;
            padding: 1.25rem 0rem;
            border-radius: 0;
            border-bottom: 1px solid $primary-color;

            p {
                @include font(0.85rem, 500);
                color: rgba($text-color, 0.7);
            }

            span {
                text-align: center;
                width: 35px;
                padding: 0.25rem 0.25rem;
                margin-right: 10px;
                @include color($primary-color);
                // background: $secondary-button;
                border-radius: 5px;
                @include font(0.75rem, 700);
            }

            &:hover {
                
                background: rgba($primary-button, 1);

                p {
                    color: $secondary-color;
                }
            }
        }
    }

    div {
        background-color: white;
        border-radius: 10px;
        flex-grow: 1;
        align-self: stretch;
        position: relative;
        @include font(1rem, 400);
        @include flex(center, stretch);

        input {
            width: 100%;
            position: relative;
            margin-left: 10%;
            align-self: stretch;
            background-color: transparent;
            outline: none;
            border: none;
            text-align: left;
            @include font(1rem, 700);
            z-index: 3;
        }
    }

    #from {
        // border: 1px solid red;
        // border-radius: 10px 0 0 10px;
        
        .flight-location-input__container {
            border: 2px solid $primary-color;
            // border-radius: 10px 0 0 10px;
            // width: 100%;
        }

        &::after {
            content: 'From';
            position: absolute;
            pointer-events: none;
            font-size: 1rem;
            top: 35%;
            bottom: 0;
            left: 10%;
            right: 0;
            @include transition-ease(0.15s, ease-out);
        }

        &.focused {
            @include focused(&);
        }

        &.invalid {
            &::before {
                color: $invalid-color;
            }
            // &::after {
            //     content: "This field is required";
            //     position: absolute;
            //     @include font(0.8rem, 300);
            //     top: 62.5%;
            //     bottom: 0;
            //     left: 10%;
            //     right: 0;
            //     z-index: -1;
            //     padding-top: 0.3rem;
            //     padding-bottom: 0.3rem;
            // }
            
            .flight-location-input__container {
                border: 2px solid $invalid-color;
            }
        }
    }

    #to {
        border-radius: 0 10px 10px 0;

        .flight-location-input__container {
            // padding: 0 0 0 2rem;
            border: 2px solid $primary-color;
            // border-radius: 0 10px 10px 0;
        }

        input {       
            border-radius: 0 20px 10px 0;
            // margin-left: 11%;
            // margin-right: 5%;
        }

        &::after {
            content: 'To';
            position: absolute;
            pointer-events: none;
            font-size: 1rem;
            top: 35%;
            bottom: 0;
            left: 10%;
            right: 0;
            @include transition-ease(0.15s, ease-out);
        }

        &.focused {
            @include focused(&);
        }

        &.invalid {
            &::before {
                color: $invalid-color;
            }

            // &::after {
            //     content: 'This field is required';
            //     position: absolute;
            //     @include font(0.8rem, 300);
            //     top: 62.5%;
            //     bottom: 0;
            //     left: 10%;
            //     right: 0;
            //     z-index: -1;
            //     padding-top: 0.3rem;
            //     padding-bottom: 0.3rem;
            // }

            .flight-location-input__container {
                border: 2px solid $invalid-color;
            }
        }
    }
}

    
.flight-date-form__container {
    border: 2px solid $primary-color;
    // width: 100%;
    @include flex(center);
    
    &::before {
        @include font(0.7rem, 300);
        content: 'Depart';
        position: absolute;
        pointer-events: none;
        top: 10%;
        bottom: 0;
        left: 5%;
        right: 0;
        @include transition-ease(0.15s, ease-out);
    }

    &__input {
        // align-self: stretch;
        // flex-grow: 1;
        // width: 92.5%;
        // height: 4rem;
        // margin-left: 5%;
        outline: none;
        border: none;
        padding: 0;
        // border: 1px solid red;
        text-align: left;
        @include font(1rem, 400);
    }
}

