html {
    scroll-behavior: smooth !important;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

h1 {
    color: red;
}

input,
textarea,
button,
select,
a,
.airline-class__group-choices {
    -webkit-tap-highlight-color: transparent;
}

input::-webkit-calendar-picker-indicator {
    font-size: 20px;
    padding: 0.5rem;
  }
