body {
    font-family: 'Montserrat';
}

h1 {
    color: red;
}

input,
textarea,
button,
select,
a,
.airline-class__group-choices {
    -webkit-tap-highlight-color: transparent;
}


// label {
//     font-weight: 700;
// }
