html {
    scroll-behavior: smooth !important;
    padding: 0;
    // scroll-snap-type: y mandatory;
}

body {
    font-family: 'Montserrat';
    background-color: $primary-color;
    overflow-x: hidden;
}

h1 {
    color: red;
}

input,
textarea,
button,
select,
a,
.airline-class__group-choices {
    -webkit-tap-highlight-color: transparent;
}