@font-face{
    font-family: computer-says-no;
    src:url(/static/fonts/computer-says-no.ttf) ;
}

@font-face{
    font-family: citadel;
    src:url(/static/fonts/citadel_script.ttf) ;
}

@font-face{
    font-family: playfair;
    src:url(/static/fonts/PlayfairDisplay-Regular.otf) ;
}

.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
    // background-color: #163976;
    height: 64px;
    width: calc(100vw - 10rem);
    @include flex;
    padding-inline: 5rem;
    transition: background 0.5s ease;
    opacity: 1;

    &.scrolled {
        transition: background 0.2s ease;
        background-color: rgba($primary-button, 1);
        // box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
    }

    &.hidden > .navdiv {
        opacity: 0;
        transition: opacity .5s ease;
    }
}

.navdiv{
    @include flex(space-between);
    height: 64px;
    width: 100%;
}


.logo-navbar{
    // position: absolute;
    // margin-left: 70px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto auto;
    align-items: center;
    gap: 1rem;

    img {
        cursor: pointer;
    }
}

.airline-name-div-navbar{
    // position: absolute;
    height: 64px;
    text-align: left;
    @include flex(center);
    flex-direction: column;
    // width: 180px;
    // margin-top: 16px;

}

.airline-name-navbar{
    line-height:0.75;
    // margin-top: 5px;
    font-family: $primary-font;
    // font-family: citadel;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    text-transform: uppercase;
    // margin-top: 5px;
    // margin-left: 5px;
    // margin-bottom: 2em;
}

.airlines-name-navbar{
    font-family: $primary-font;
    // font-family: playfair;
    color: white;
    font-size: 14px;
    // margin-top: 5px;
    font-weight: bold;
    font-style: italic;
    line-height: 0;
}

.menu-navbar{
    // margin-left: 169px;
    // border: 1px solid red;
    position: relative;
}


.buttons-div-navbar{
    // right: 60px;
    // position: absolute;
    // height: 94px;
    // align-items: baseline;
    display: grid;
    gap: 2.5rem;
    grid-auto-flow: column;
    grid-auto-columns: auto auto;
    position: relative;

}

.about-button-navbar{
    position: relative;
    font-size: 0.8rem;
    // margin: 28px;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    font-family: $primary-font;
    // padding: 10px;
    // padding-left:38px;
    // padding-right: 38px;
    border-radius: 8px;
    color:#212121;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    // color:rgb(217, 171, 53);
    // border: 3px solid  rgb(217, 171, 53);

    ::before {
        content: "";
        position: absolute;
        top: 150%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background-color: $primary-color;
        transition: width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }    

    &:hover {

        ::before {
            transition: width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
            width: 100%;
        }

    }
}

.home-button-navbar {
    position: relative;
    font-size: 0.8rem;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    font-family: $primary-font;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;

    ::before {
        content: "";
        position: absolute;
        top: 150%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background-color: $primary-color;
        transition: width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &:hover {

        ::before {
            transition: width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
            width: 100%;
        }

    }
}

.contact-button-navbar{
    position: relative;
    font-size: 0.8rem;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    font-family: $primary-font;
    // padding:10px ;
    // padding-left:27px;
    // padding-right: 23px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    //  color:rgb(217, 171, 53);
    // border: 3px solid  rgb(217, 171, 53);

    ::before {
        content: "";
        position: absolute;
        top: 150%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background-color: $primary-color;
        transition: width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &:hover {

        ::before {
            transition: width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
            width: 100%;
        }

    }
}

.active-page {
    ::before {
        transition: width 0.4s cubic-bezier(0.86, 0, 0.07, 1);
        width: 100%;
    }
}

.time-div-navbar{
    display: none;
    position: absolute;
    height:96px;
    width:150px;
    margin-left: 570px;
}

#current-time-navbar{
    text-align: center;
    color: white;
    font-family: $primary-font;
    font-size: 20px;
    margin-top: 37px;
    font-weight: 600;
    
  
}

.date-div-navbar{
    display: none;
    position: absolute;
    height:96px;
    width:150px;
    margin-left: 420;
}

#current-date-navbar{
    text-align: center;
    color: white;
    font-family: $primary-font;
    font-weight: 600;
    font-size: 20px;
    margin-top: 37px;
}
