.passenger-details-wrapper {
    // border: 1px solid red;
    display: block;
    width: 65%;
    padding: 1rem 0;
    margin: auto;
    position: relative;
    height: auto;
    overflow: hidden;
}

.adult-passenger-details-container {
    // border: 1px solid purple;
    position: relative;
    @include color($primary-button);
    box-shadow: 0 2px 10px 2px rgba(126, 126, 126, 0.6);
    padding-bottom: 0.1rem;
    margin-bottom: 1rem;
    transition: height 0.2s ease-in;

    &.contact-info {
        padding-bottom: 0.75rem;
    }

    .age-group-container {
        @include flex(space-between);

        .age-group {
            display: block;
            @include font(1.2rem, 700);
            padding: 1rem;
        }

        .age-group-expand {
            padding: 0 1rem;
            color: white;
            transform: rotate(180deg);
            transition: transform 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            cursor: pointer;

            &.collapsed {
                transform: rotate(0);
                transition: transform 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
            }
        }
    }

    &.collapsed {
        // border: 1px solid red;
        height: 3rem;
        transition: height 0.2s ease-out;

        .adult-passenger-details-container__items {
            // transform: scaleY(0) translateY(-100%);
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.1s ease-out;
        }
    }

    &__items {
        // border: 1px solid red;
        // padding: 0rem 1.5rem;
        position: relative;
        margin-bottom: 0rem;
        margin-left: 0.1rem;
        margin-right: 0.1rem;
        background-color: white;
        height: 19rem;
        transition: height 0.1s ease-in;
        // transition: opacity 0.1s ease-in;
        opacity: 1;
        pointer-events: all;
        @include color($secondary-color);
        // border-radius: 5px;

        &.contact-info {
            height: 5.5rem;
            @include flex(space-between);

            &.email-address {
                @include flex(flex-start);
            }
        }

        &.collapsed {
            height: 2.7rem;
            box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.6);
            transition: height 0.1s ease-out;

            .adult-passenger-details-container__items--info {
                opacity: 0;
                transition: opacity 0.05s ease-out;
            }
        }

        .passenger-number-container {
            @include flex(space-between);
            width: 100%;
            @include color($primary-color);
            // background-color: rgba(126, 126, 126, 0.2);
        }

        .passenger-number {
            // display: inline-block;
            @include font(1rem, 500);
            padding: 0.8rem;
        }

        .passenger-expand {
            padding: 0 1.25rem;
            transform: rotate(180deg);
            transition: transform 0.2s ease-out;
            cursor: pointer;

            &.collapsed {
                transform: rotate(0);
                transition: transform 0.2s ease-out;
            }
        }


        .passenger-full-name,
        .passenger-passport,
        .passenger-contact-info {
            @include flex(space-between);
            position: relative;

            input {
                position: relative;
                // width: 100%;

                &::-webkit-calendar-picker-indicator {
                    @include font(1.05rem, 500);
                    padding: 0;
                  }
            }
        }

        .passenger-birthdate {
            @include flex;
            position: relative;
            input {
                // width: 100%;

                &::-webkit-calendar-picker-indicator {
                    @include font(1.05rem, 500);
                    padding: 0;
                  }
            }
        }

        &--info {
            
            opacity: 1;
            position: relative;
            padding: 1rem 1rem;
            transition: opacity 0s 0.1s ease-out;

            label{
                display: block;
            }
            input {
                position: relative;
                border: 1px solid rgba(126, 126, 126, 0.5);
                padding: 0.5rem 1rem;
                line-height: 1rem;
                @include font(1rem, 500);
                width: 15rem;
                // height: 100%;
            }
        }
    }
}