.passenger-container {

    h3, div {
        padding: 0.25rem 0;
    }
}

.passenger-form {

    @include font($primary-font, 1rem, bold);
    display: inline;
    position: relative;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        display: none;
    }

    &__container {
        @include flex;
        height: 4rem;

        i {
            color: $primary-button;
            display: inline-block;
            transform: scale(1.25);
            cursor: pointer;
        }

        .age-group-label {
            @include font($primary-font, 1rem, 400);
            width: clamp(50px, 100px, 125px);
            display: inline-block;
        }

        &__passenger-count {
            @include font($primary-font, 1.2rem, 300, $primary-button);
            padding-left: clamp(1px, 13px, 13px);
            text-align: center;
            width: clamp(1.3rem, 1.75rem, 1.75rem);
            border: none;

            &:focus {
                outline: none;
                border: none;
            }
        }

        &__btn {
            margin: 0 clamp(0.25rem, 2vw, 1.25rem);
            width: 2.5rem;
            height: 2.5rem;
            border: none;
            border-radius: 30px;
            text-align: center;
            @include font($primary-font, 1.25rem, 400, $secondary-color);
            background: $primary-button;
            cursor: pointer;
            @include transition-ease(0.1s);
    
            &:disabled {
                color: white;
                background: $lighter-primary-button;
                @include transition-ease(0.1s);
            }
        }
        
        &__airline-class {
            
            transform: translateY(4.9rem);

            .airline-class--selected {
                width: 7rem;
                padding: 0.6rem 0.6rem;
                text-align: center;

                &:focus {
                    outline: 1px solid $primary-button;
                }
            }

            p {
                text-align: center;
                padding: 1rem;
                font-weight: 400;
            }
        }
    }
}