.payment-page-wrapper {
    // border: 1px solid red;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 0.5fr 1.5fr 1fr;
    // border: 1px solid red;
    padding: 2rem;

    &__item {

        border: 1px solid red;
        display: grid;
        grid-template-rows: 1fr 9fr;
        place-items: center;

        &__text {
            padding: 1rem;
            @include font($primary-font, 1rem, 700, $primary-color);
            // border: 1px solid red;
        }
    }

    .payment-pg-mode {

        &__list {
            
            padding: 1rem;
            display: grid;
            gap: 1rem;
            grid-auto-flow: row;
            grid-auto-rows: 1fr;

            &__item {

                @include flex(center);
                flex-direction: column;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
                border-radius: 5px;

                &:hover {
                    animation: zoom 0.1s cubic-bezier(.48,.12,.48,.81) forwards;
                    
                    
                    &.gcash {
                        background: linear-gradient(to right,rgba(#6FBAF7, 0.4), rgba(#002CB8, 1) );
                    }

                    &.maya {
                        background: linear-gradient(to right,rgba(#2DF19D, 0.4), rgba(black, 1) );
                    }

                    &.paypal {
                        background: linear-gradient(to right,rgba(#253B80, 0.4), rgba(#179BD7, .4) );
                    }

                    &.mastercard {
                        background: linear-gradient(to right, rgba(red, 0.4), rgba(orange, 0.4));
                    }

                    &.visa {
                        background: linear-gradient(to right, rgba(#1E2566, 0.8), rgba(#044A9C, 0.4));
                    }
                }

                img {
                    inline-size: 45%;
                    // size: 100%;
                    aspect-ratio: 1;
                    object-fit: contain;
                }
            }
        }

    }

}