@media screen and (max-width: 768px) {

    .img-slideshow {
        max-height: fit-content;

        img {
            top: 0%;
            left: -50%;
        }
    }

    .form-container {
        width: 100%;
    }

    .home-body {
        width: 100%;
        grid-auto-columns: 100%;
        grid-auto-flow: row;
    }
}