@media screen and (max-width: 768px) {

    .img-slideshow {
        max-height: fit-content;

        img {
            top: 0%;
            left: -50%;
        }
    }

    .navbar {
        padding-inline: 2rem;
        width: calc(100vw - 4rem);

        &.scrolled {
            // padding: 0;
        }

        .navdiv {
            display: none;
        }

        .responsive-navdiv {
            @include flex(space-between);
        }

    }

    .main-wrapper {

        .home-body {
            display: flex;
            flex-direction: column;
    
            .form-container {
                @include flex(center);
                height: 100%;
                width: auto;
                // padding: 2rem;
    
                .vector-airplane {
                    right: 0;
                }
    
                .sidebar {
                    align-self: stretch;
                    grid-template-rows: 0.75fr 0.5fr 3fr 2fr 0.75fr;
                }
            }
    
            #globe-container {
                display: none;
            }
        }
    }

}

// @media screen and (min-width: 1024px) {
//     input::-webkit-calendar-picker-indicator {
//         font-size: 18px;
//         padding-inline: 1rem;
//       }
    
//     *::-webkit-scrollbar {
//         width: 17.5px;
//     }
    
//     *::-webkit-scrollbar-track {
//         margin: 10px 10px;
//     }
    
//     *::-webkit-scrollbar-thumb {
//         background: $lighter-primary-button;
//         border: 5px solid white;
//         border-radius: 100px;
//         // background-clip: border-box;
    
//         &:hover {
//             background: $primary-button;
//         }
//     }
// }

