@media screen and (max-width: 768px) {

    img {
        object-fit: cover;
        max-width: 100vw;
        height: 75vh;
    }

    .form-container {
        position: absolute;
        top: 75vh;
        left: calc(12.5% - 2rem);
        right: 0;
        bottom: 0;
        display: inline-block;
        width: 75%;
        height: 100%;
        padding: 1rem 2rem;
        border-radius: 20px;
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
        background: $secondary-color;
        z-index: 2;
        }
}