.seats-legend {
    padding: 0.5rem 0;
    position: relative;
    
    &.extra-leg-room {
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 7.5%;
            right: 0;
            bottom: 0;
            width: 75%;
            height: 50%;
            border-top: 2px dotted black;
            border-inline: 2px dotted black;
            border-radius: 5px;
        }
    }
}

.seat-hovered {
    color: $primary-button;
}

.seat-selected {
    color: $clicked-seat;
}

.seat-reserved {
    color: $reserved-seat;
}

.seat-unavailable {
    color: $unavailable;

    &:hover {
        color: $unavailable;
    }
}

.seats-page-wrapper {
    position: relative;
    height: 110%;
    // width: 80%;
    padding: 1rem;
    // border: 1px solid red;
    display: grid;
    grid-template-columns: 1.25fr 1.5fr 1fr;

    &__item {
        // border: 1px solid red;
        padding: 1rem;
    }

    .selected-seats-container {

        display: grid;
        gap: 2rem;
        grid-auto-flow: row;
        grid-auto-rows: 8%;
        overflow-x: hidden;
        overflow-y: auto;
        // justify-content: center;
        position: relative;
        padding: 0rem 1rem 1.75rem 1rem;
        // width: 100%;

        &::-webkit-scrollbar-thumb {
            border: 5px solid $booking-process-bg-color;
        }

        .selected-seats-no-items {
            display: flex;
            margin: 0 auto;
            background: white;
            // border-radius: 10px;
            box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.3);

            &.entered-items {
                display: none;
            }

            p {
                display: block;
                margin: auto;
                padding-inline: 2rem;
                @include font($primary-font, 1rem, 700, $primary-color);
            }
        }

        .passenger-selected-seat {

            position: relative;
            // border-radius: 10px;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
            padding: 0.5rem 1rem;
            height: 100%;
            // width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            cursor: pointer;   

            &.draggable-mirror {
                height: auto;
                width: 20rem;
            }

            &.pending {
                // background: linear-gradient(#a3a2a2, #6e6d6d);
                background-color: gray;
                transition: background 0.2s ease-out;
                opacity: 0.5;

                &.draggable--over {
                    opacity: 0.85;
                }
            }

            &.selecting {
                background-color: $primary-button;
                // background: linear-gradient(#5c67e6, $primary-button);
                transition: background .2s ease-out;
                opacity: 1;
            }

            &.selected {
                background-color: $darker-blue;
                transition: background .2s ease-out;

                &.active {
                    opacity: 1;
                    transition: opacity .2s ease-out;
                }

                &.inactive {
                    opacity: 0.5;
                    transition: opacity .2s ease-out;

                    &.draggable--over {
                        opacity: 0.85;
                    }
                }
            }

            &.confirmed {
                background-color:green;
                transition: background .2s ease-out;

                &.active {
                    opacity: 1;
                }

                &.inactive {
                    opacity: .5;
                }
            }


            .select-seat-status {
                @include flex;
                position: relative;

                p {
                    text-transform: uppercase;
                    @include font($primary-font, 1rem, 700, $secondary-color);
                    user-select: none;
                }

                i {
                    font-size: 1.25rem;
                    color: $secondary-color;
                    user-select: none;
                    
                    &.selecting {
                        animation: rotate360 0.4s linear infinite;
                    }
                }
            }

            .passenger-info-extra {
                @include flex;
                position: relative;

                &__number {
                    color: $secondary-color;
                    user-select: none;
                }

                &__value {
                    @include font($primary-font, 0.75rem, 400, $secondary-color);
                    user-select: none;

                    span {
                        @include font($primary-font, 1rem, 700, $accent);
                        user-select: none;
                    }
                }
            }
        }
    }

    .airline-seats-wrapper {
        display: flex;
        position: relative;
        background-color: white;

        .airline-seats-container {
            position: relative;
            width: 100%;
            height: 100%;
            @include flex(space-between);
            

            .seats-left-container,
            .seats-mid-container,
            .seats-right-container {
                @include flex(space-evenly);

                .seats-columns {

                    .seats {
                        padding: 0.5rem 0;
                        position: relative;

                        &.extra-leg-room {
                            &::after {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 7.5%;
                                right: 0;
                                bottom: 0;
                                width: 75%;
                                height: 50%;
                                border-top: 2px dotted black;
                                border-inline: 2px dotted black;
                                border-radius: 5px;
                            }
                        }

                        &.selected,
                        &.reserved {
                            &::before {
                                content: attr(data-passenger);
                                @include font('Roboto', 0.9rem, 700, $secondary-color);
                                @include flex(center);
                                position: absolute;
                                top: 25%;
                                left: 5%;
                                padding: 0.1rem;
                                background-color: rgba($darker-blue, 0.75);
                                border-radius: 5px;
                                width: 1.75rem;
                                height: auto;
                            }
                        }
                        
                        &:hover {
                            cursor: pointer;
                            color: $primary-button;
                        }

                        &.selected {
                            color: $clicked-seat;

                            &.active {
                                opacity: 1;
                            }

                            &.inactive {
                                opacity: 0.5;
                            }
                        
                        }

                        &.reserved {
                            color: $reserved-seat;

                            &.active {
                                opacity: 1;
                            }

                            &.inactive {
                                opacity: .5;
                            }
                        }
                    }
                }
            }
        }
    }

    .seats-guide-wrapper {
        display: grid;
        margin: 0 auto;
        background-color: white;
        position: relative;
        padding: 1rem;
        width: 75%;
        height: fit-content;
        // border-radius: 10px;
        box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.3);

        .seats-guide-container {
            display: block;
            // margin: 0 auto;
            // background-color: white;

            .seats-guide-header {
                text-align: left;
                @include font($primary-font, 1.2rem, 700, $primary-color);
                padding-bottom: 1rem;
                padding-left: 1rem;
                width: auto;
                box-sizing: border-box;
                border-bottom: 2px solid rgba(0, 0, 0, 0.2);
            }

            .seats-icon-legends-list {
                padding: 1rem 0 0 1rem;
                display: grid;
                gap: 0.5rem;

                .legends-item {
                    position: relative;
                    @include flex(flex-start);
                    gap: 1rem;
                }
            }
        }
    }
}

.sticky-passenger-list-container {
    @include flex(space-between);
    position: sticky;
    bottom: 0;
    left: 5%;
    // border-top-left-radius: 25px;
    // border-top-right-radius: 25px;
    width: 90%;
    background-color: $secondary-color;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);

    .extra-cost-container {

        display: flex;
        position: relative;
        height: 100%;
        width: 15%;
        padding-right: 1rem;

        .extra-cost {
            display: grid;
            place-items: center;
            padding: 1.5rem;
            width: 100%;
            // border-top-left-radius: 25px;
            background-color: $primary-button;

            p {
                @include font($primary-font, 1rem, 500, $secondary-color);
                padding: 0.2rem 0;
            }

            .extra-cost-title {
                font-size: 1.1rem;
                font-weight: 700;
            }

        }
    }

    .passenger-list {
        position: relative;
        width: 70%;
        height: 100%;
        display: grid;
        gap: 0.5rem;
        // border: 1px solid red;
        grid-auto-flow: column;
        grid-auto-columns: 18%;
        
        overflow-y: hidden;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        background: white;
        // padding: 1rem 1rem 0.25rem 1rem;

        .passenger-container {
            position: relative;
            display: grid;
            gap: 0.5rem;
            place-items: center;
            padding: 0.8rem 1rem;
            // border-radius: 7.5px;
            background: rgba($primary-button, 0.1);
            transition: background 0.2s ease-out;
            cursor: pointer;

            &:hover {
                background: rgba($primary-button, 0.175);
                transition: background 0.2s ease-out;
            }
            
            i {
                color: $secondary-button;
            }

            p {
                display: block;
                @include font($primary-font, 0.8rem, 700, $secondary-button);
            }

        }
    }   

    .finish-btn {
        padding-left: 1rem;
        padding-right: 1rem;

        .seats-done-btn {

            &:disabled {
                background-color: $unavailable;
            }

            width: 11rem;
            margin: 0;
        }
    }
}

.snaps-inline {
    scroll-snap-type: inline mandatory;

    * {
        scroll-snap-align: start;
    }
}