@font-face{
    font-family: nourd;
    src:url(/static/fonts/nourd_heavy.ttf) ;
}

@font-face{
    font-family: computer-says-no;
    src:url(/static/fonts/computer-says-no.ttf) format("truetype"); 
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.ticket_div{
  background-color: white;
  margin-top: 50px;
  margin-left: 200px;
  height: 350px;
  width: 950px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 30px;
  user-select: none;

  margin-bottom: 50px;

}

.vertical_dashed_ticket{
    position: absolute;
    margin-top: -58px;
    margin-left: 620px ;
    border-left: 5px dashed black;
    height: 348px;
    width: 1px;
} 
   

.ticket-top{
    height: 60px;
    width: 950px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #163976;
    margin-top: -13px;
    margin-left: 0px;
    display: flex;
    align-items: center;
}

.logo-ticket{
    margin-left: 20px;
}

.airline-name-ticket{
    
    margin-left: 15px;
    font-family:nourd;
    color: white;
}

.b-pass-ticket{
    margin-left: 170px;
    font-family:nourd;
    color: white;
}

/* start of information on the left*/

.info-left-ticket{
    position: absolute;
    margin-left: 5px;
    height: 275px;
    width: 548px;
 
}

.world-map-ticket{
    position: absolute;
    margin-top: 12px;
    margin-left: 50px;
    height: 250px;
    width: 530px;
    opacity: 50%;
}

.class-ticket{
    position: absolute;
    font-family: computer-says-no;
    margin-left: 400px;
    font-size: 85px;
    margin-top: 10px;
    text-align: center;
    line-height: 60px;
    width: 210px;
}

.name-info-ticket{
    margin-top: 10px;
   position: absolute;
    width: 250px;
    height: 50px;
    margin-left: 10px;
}

.name-ticket{
    font-family: Poppins;
    font-weight: bold;
    margin-top: 0px;
    font-size: 12px;

}

.passenger-name-ticket{
    font-weight: normal;
    font-family: computer-says-no;
    font-size: 32px;
}

.boarding-info-ticket{
    margin-left: 10px;
    margin-top: 80px;
    position: absolute;
    width: 190px;
    height: 50px;
}

.boarding-ticket{
    font-family: Poppins;
    font-weight: bold;
    margin-top: 0px;
    font-size: 12px;
}

.boarding-time-ticket{
    font-weight: normal;
    font-family: computer-says-no;
    font-size: 32px;
}


.departure-info-ticket{
    position: absolute;
    
    width: 150px;
    height: 50px;
    margin-left: 10px;
    margin-top: 150px;
}

.departure-ticket{
    font-family: Poppins;
    font-weight: bold;
    margin-top: 0px;
    font-size: 12px;
}

.departure-time-ticket{
    font-weight: normal;
    font-family: computer-says-no;
    font-size: 32px;
}

.from-info-ticket{
    position: absolute;
    width: 140px;
    height: 50px;
    margin-left: 10px;
    margin-top: 220px;
}

.from-ticket{
    font-family: Poppins;
    font-weight: bold;
    margin-top: 0px;
    font-size: 12px;
}

.passenger-from-ticket{
    font-family: computer-says-no;
    font-size: 32px;
}

.date-info-ticket{
    position: absolute;
    width: 110px;
    height: 50px;
    margin-left: 270px;
    margin-top: 10px;
}

.date-ticket{
    font-family: Poppins;
    font-weight: bold;
    margin-top: 0px;
    font-size:12px;
}

.flight-date-ticket{
    font-weight: normal;
    font-family: computer-says-no;
    font-size: 32px;
}

.seat-info-ticket{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: 270px;
    margin-top: 80px;

}

.seat-ticket{
    font-family: Poppins;
    font-weight: bold;
    margin-top: 0px;
    font-size: 12px;
}

.passenger-seat-ticket{
    font-weight: normal;
    font-family: computer-says-no;
    font-size: 32px;
}

.flight-info-ticket{
    position: absolute;
    width: 90px;
    height: 50px;
    margin-left: 350px;
    margin-top: 80px;

}

.flight-ticket{
    font-family: Poppins;
    font-weight: bold;
    margin-top: 0px;
    font-size: 12px;
}

.passenger-flight-ticket{
    font-weight: normal;
    font-family: computer-says-no;
    font-size: 32px;
}

.to-info-ticket{
    position: absolute;
    width: 140px;
    height: 50px;
    margin-left: 270px;
    margin-top: 220px;
}

.to-ticket{
    font-family: Poppins;
    font-weight: bold;
    margin-top: 0px;
    font-size: 12px;
}

.passenger-to-ticket{
    font-family: computer-says-no;
    font-size: 32px;
}

.ticketnumber-info-ticket{
    position: absolute;
    width: 140px;
    height: 50px;
    margin-left: 270px;
    margin-top: 150px;
}

.ticketnumber-ticket{
    font-family: Poppins;
    font-weight: bold;
    margin-top: 0px;
    font-size: 12px;
}

.passenger-ticketnumber-ticket{
    font-weight: normal;
    font-family: computer-says-no;
    font-size: 32px;
}

.goldairplane-ticket{
    position: absolute;
    height: 70px;
    width: 100px;
    margin-top: 210px;
    margin-left: 150px;
}

.barcode-left-ticket{
    position: absolute;
    height: 50px;
    width: 160px;
    margin-top: 220px;
    margin-left: 420px;
    object-fit: contain;
}


/* end of information on the left*/

/* start of information on the right*/
.info-right-ticket{
    position: absolute; 
    height: 280px;
    width: 300px;
    margin-left:630px;
}

.copy-name-ticket{
    height: 40px;
    align-items: center;
    text-align: center; 
}

.cname-ticket{
   margin-top: 10px;
   margin-bottom: 0px;
   font-family: computer-says-no;
    font-size: 35px;
}

.horizontal-dashed-line{
    border-top: 3px dashed black;
    margin-top: 6px;
    margin-left: 10px;
}

.copy-from-info-ticket{
    position: absolute;
    width: 170px;
    height: 45px;
    margin-left: 10px;
    margin-top: 10px;
}

.copy-from-ticket{
    font-weight: bold;
    font-family: Poppins;
    font-size: 12px;
    margin-top: 0px;
}

.copy-passenger-from-ticket{
    font-weight: normal;
    font-family: computer-says-no;
    font-size: 30px;
}

.copy-to-info-ticket{
    position: absolute;
    width: 170px;
    height: 45px;
    margin-top: 60px;
    margin-left: 10px;
}

.copy-to-ticket{
    font-weight: bold;
    font-family: Poppins;
    font-size: 12px;
    margin-top: 0px;
}

.copy-passenger-to-ticket{
    font-weight: normal;
    font-family: computer-says-no;
    font-size: 30px;
}

.copy-boarding-info-ticket{
    position: absolute;
    width: 170px;
    height: 45px;
    margin-top: 120px;
    margin-left: 10px;
}

.copy-boarding-ticket{
    font-weight: bold;
    font-family: Poppins;
    font-size: 12px;
    margin-top: 0px;
}

.copy-boarding-time-ticket{
    font-weight: normal;
    font-family: computer-says-no;
    font-size: 30px;
    
}

.copy-departure-info-ticket{
    position: absolute;
    width: 170px;
    height: 45px;
    margin-top: 180px;
        margin-left: 10px;
}

.copy-departure-ticket{
    font-weight: bold;
    font-family: Poppins;
    font-size: 12px;
    margin-top: 0px;
}

.copy-departure-time-ticket{
    font-weight: normal;
    font-family: computer-says-no;
    font-size: 30px;
}




.copy-date-info-ticket{
    position: absolute;
    width: 120px;
    height: 45px;
    margin-top: 10px;
    margin-left: 190px;
}

.copy-date-ticket{
    font-weight: bold;
    font-family: Poppins;
    font-size: 12px;
    margin-top: 0px;
}

.copy-flight-date-ticket{
    font-weight: normal;
    font-family: computer-says-no;
    font-size: 30px;
}



.copy-seat-info-ticket{
    position: absolute;
    width: 120px;
    height: 45px;
    margin-top: 60px;
    margin-left: 190px;
}

.copy-seat-ticket{
    font-weight: bold;
    font-family: Poppins;
    font-size: 12px;
    margin-top: 0px;
}

.copy-passenger-seat-ticket{
    font-weight: normal;
    font-family: computer-says-no;
    font-size: 30px;
}



.copy-flight-info-ticket{
    position: absolute;
    width: 120px;
    height: 45px;
    margin-top: 120px;
    margin-left: 190px;
}

.copy-flight-ticket{
    font-weight: bold;
    font-family: Poppins;
    font-size: 12px;
    margin-top: 0px;
}

.copy-passenger-flight-ticket{
    font-weight: normal;
    font-family: computer-says-no;
    font-size: 30px;
}

.barcode-right-ticket{
    position: absolute;
    height: 35px;
    width: 145px;
    margin-top: 180px;
    margin-left: 150px;
    object-fit: contain;
}



