$primary-color: #000000;
$secondary-color: #ffffff;
$primary-button: #5d478b;
$secondary-button: #9b1297;
$lighter-primary-button: #b399b0;
$accent: #ffdf29;
$invalid-color: rgb(245, 67, 67);

$primary-font: 'Montserrat';