@import "../scss/_reset", "../scss/variables", "../scss/global", 
        "../scss/config", "../scss/passenger-form", "../scss/flight-form", 
        "../scss/navbar", "../scss/flights-page";

.main {
    display: grid;
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    // border: 1px solid red;
    // overflow-x: hidden;
    // overflow-y: scroll;
}

.img-slideshow {
    max-width: 100%;
    height: 50%;
    border: 1px solid red;
    z-index: -1;
    overflow: hidden;

    img {
        position: relative;
        top: -40%;
    }

}

.body {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    bottom: 0;
    background: $secondary-color;
    max-width: 100dvw;
    height: 50rem;
    z-index: 0;
}

.form-container {
    display: inline-block;  
    position: absolute;
    top: calc(75% - 1rem);
    left: calc(30% - 2rem);
    right: 0;
    bottom: 0;
    width: 40%;
    height: fit-content;
    padding: 2rem 2rem;
    border-radius: 25px;
    // border: 1px solid $primary-button;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    background: $secondary-color;
    z-index: 2;
}

.form-btn {
    @include form-button(25px, $secondary-button);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3rem;
    padding: 0.75rem 1.25rem;
    margin-left: auto;
    margin-top: 2.5%;
}

.swap-btn {
    @include form-button(50px, $primary-button);
    position: absolute;
    z-index: 4;
    top: 1.05rem;
    left: calc(50% - 1rem);
    right: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
}

.with-dropdown-select {
    
    position: relative;

    &__input {
        @include font($primary-font, 1rem, 400);
        border-radius: 5px;
        border: 1px solid $lighter-primary-button;
    }

    &__container {
        position: relative;
        display: block;
        background: $secondary-color;
        margin: 5px 0;
        border: 1px solid $lighter-primary-button;
        border-radius: 5px;
        opacity: 0;
        pointer-events: none;
        cursor: pointer;
        @include transition-ease(0.1s);

        &__options:hover {
            background: rgba($primary-button, 0.5);
            color: $secondary-color;
        }
    }
}

@import "../scss/responsive";