@import "../scss/_reset",  "../scss/clamping", "../scss/variables", "../scss/global", "../scss/config", "../scss/keyframes";

$_sidebar-padding-inline: clamp(1.5rem, 2.35vw, 3rem);

.main-wrapper {
    position: relative;
    @include flex(flex-start, stretch);
    margin: 0;
    flex-direction: column;
    width: 100dvw;
}

.home-welcome-section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
    @include flex(flex-start);
    // display: grid;
    // grid-auto-flow: row;
    // grid-auto-rows: auto auto;
    position: relative;
    top: -64px;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/airline-main-2.png");
    background-size: cover;
    // margin-bottom: -100px;

    .welcome-text-container {
        position: relative;
        display: grid;
        gap: 2.5rem;
        grid-auto-flow: row;
        grid-auto-rows: auto;
        position: relative;
        left: 5%;
        // top: 40%;
        padding-block: clamp(1rem, 2.34vw, 3rem);
        height: fit-content;
        width: 95%;
        // width: max(400px, 50%);
        align-items: center;

        div {
            // padding-left: clamp(1rem, 2.34vw, 3rem);
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
        }
    }

    .welcome-heading {
        @include font(clamp(2em, 4.35vw, 5.75rem), 800);
        color: $secondary-color;
        // text-transform: uppercase;
        letter-spacing: -0.005em;
        line-height: clamp(46px, 5vw, 122px);
    }

    .welcome-subheading {
        @include font(clamp(1em, 1.25vw, 2rem), 400);
        line-height: clamp(1rem, 2.05vw, 1.75rem);
        color: $secondary-color;
        letter-spacing: -0.02em;
        // width: max(300px, 70%);
    }

    .welcome-button {
        @include flex($align-items: flex-start);
    }

}

.img-slideshow {
    max-width: 100%;
    height: 50%;
    border: 1px solid red;
    z-index: -1;
    overflow: hidden;

    img {
        position: relative;
        top: -40%;
    }

}

.home-body {
    scroll-snap-align: end;
    scroll-snap-stop: normal;
    position: relative;
    // width: 100dvw;
    // scroll-margin-top: 100px;
    height: calc(100vh - 64px);
    display: grid;
    // padding-top: 2rem;
    // padding: 2rem 1rem;
    grid-template-columns: 24% 76%;
    // align-items: stretch;
    // align-items: stretch;
    width: 100dvw;
    // gap: 1rem;
    @include color($primary-color);
}

.sidebar {
    width: 100%;
    position: relative;
    height: 100%;
    // border: 1px solid red;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr 0.35fr 3.75fr 2.5fr 1.5fr;
    gap: clamp(0.25rem, 0.9vw, 1.5rem);
    user-select: none;
}

.form-container {
    position: relative;
    height: 100%;
    width: 100%;
    // padding: 1.5rem 2rem;
    border-radius: 0;
    // height: 10rem;
    // width: max-content;
    // border: 1px solid $primary-button;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
    background: $secondary-color;
    @include flex(space-around, stretch);

    .vector-airplane {
        position: absolute;
        // z-index: 9999;
        top: 0%;
        right: -20%;
        bottom: 10%;
        display: flex;
        opacity: 0.3;
        user-select: none;
    }
    
    .sidebar-heading {
        // border: 1px solid red;
        @include flex(center);
        @include font(clamp(1em, 1.5vw, 2em), 700);
        color: $primary-button;
        letter-spacing: -0.03em;
        // padding-block: 1rem 0.5rem;
    }

    .one-way-container {
        // border: 1px solid red;
        position: relative;
        align-self: stretch;
        // flex-grow: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-inline: $_sidebar-padding-inline;
        padding-block: 0rem;
        gap: 1rem;

        div {
            @include flex(center);
            padding: 0.35rem 0.2rem;
            border-radius: 10px;
            @include color($primary-button);
            cursor: pointer;

            p {
                text-align: center;
                @include font(0.65rem, 700);
                text-transform: uppercase;
                letter-spacing: -0.01em;
            }
        }

        .round-trip {
            background-color: $secondary-color;
            color: rgba($primary-button, 0.4);
            border: 2px solid $primary-color;
            cursor: not-allowed;
        }
    }

    .flight-passenger-class-info-container {
        @include flex(space-between);
        padding-inline: $_sidebar-padding-inline;
        @include font(clamp(0.75em, 1.25vw, 1.5em), 500);
    
        .info-container {
            flex-grow: 1;
            display: grid;
            grid-template-rows: 100%;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            align-items: center;

            .info-item {
                @include flex(space-between);
                color: $primary-button;
                text-align: center;
                gap: clamp(0.25rem, 0.5vw, 0.75rem);

                i {
                    font-size: clamp(0.75em, 1.25vw, 1.5em);
                }
            }
        }
    }
}

.sidebar-btn-container {
    // flex-grow: 1;
    align-self: stretch;
    @include flex(center, $align-items: center);
    @include color($primary-button);
    position: relative;

    button {
        // border: 1px solid green;
        position: relative;
        border: none;
        @include color($primary-button);
        @include font(clamp(1em, 1.75vw, 2em), 700);
        letter-spacing: -0.01rem;
        flex-grow: 1;
        align-self: stretch;
        text-transform: uppercase;
        user-select: none;
        cursor: pointer;
    }
}

#globe-container {
    position: relative;
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    // width: 100%;

    .image-popup-container {
        --contentname: "";
        transform: scale(0);
        position: absolute;
        z-index: 99;
        right: 2%;
        bottom: 2%;

        &::before {
            content: var(--contentname);
            position: absolute;
            @include font(1.25rem, 700);
            @include flex(center);
            color: $secondary-color;
            overflow: hidden;
            background-color: rgba($primary-button, 0.875);
            // background-blend-mode: overlay;
            // mix-blend-mode: overlay;
            // @include color(rgba($primary-button, 0.8));
            bottom: 0;
            left: 0;
            right: 0;
            height: 20%;
            padding: 0.25rem;
            border-radius: 1px solid red;
        }

        &.popped {
            transform: scale(1);
            transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
            opacity: 0.9;
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
            object-fit: contain;
        }
    }
}


.form-btn {
    @include form-button(0px, $primary-button);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 12rem;
    // height: 3rem;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
}

.swap-btn {
    @include form-button(50px, $primary-button);
    // position: absolute;
    z-index: 4;
    top: 1.05rem;
    left: calc(50% - 1rem);
    right: 0;
    bottom: 0;
    width: 2rem;
    height: 2rem;
}

.page-header {
    display: block;
    margin: auto;
    padding: 1rem 0;
    @include color($secondary-color);

    p {
        display: block;
        margin: auto;
        text-align: center;
        @include font(1.25rem, 700);
    }
}

.current-page-indicator {
    @include flex;
    width: $width;
    color: $secondary-color;
    margin: auto;
    padding: 1rem 0;

    p {
        @include font(0.75rem, 700);
        text-align: center;
        width: 13%;
        @include color($secondary-color);
        padding: 0.75rem 0.5rem;
    }

}

.with-dropdown-select {
    
    position: relative;

    &__input {
        @include font(1rem, 400);
        border-radius: 5px;
        border: 1px solid $lighter-primary-button;
    }

    &__container {
        position: relative;
        display: block;
        @include color($secondary-color);
        margin: 5px 0;
        border: 1px solid $lighter-primary-button;
        border-radius: 5px;
        opacity: 0;
        pointer-events: none;
        cursor: pointer;
        @include transition-ease(0.1s);

        &__options:hover {
            // background: rgba($primary-button, 0.5);
            // color: $secondary-color;
        }
    }
}

.airness-btn {
    cursor: pointer;
    border: 2px solid rgba($primary-button, 0.1);
    // outline: none;
    // @include color(rgba($primary-button, 0.1));
    // @include color($secondary-font);
    background-color: white;
    border-radius: 10px;
}

.input-field {
            
    opacity: 1;
    position: relative;
    padding: 1rem 1rem;
    transition: opacity 0s 0.1s ease-out;

    label{
        display: block;
    }
    input {
        position: relative;
        border: 1px solid rgba(126, 126, 126, 0.5);
        padding: 0.5rem 1rem;
        line-height: 1rem;
        @include font(1rem, 500);
        // width: 15rem;

        // height: 100%;
    }
}

@import "../scss/passenger-form", "../scss/flight-form", 
        "../scss/navbar", "../scss/flights-page", "../scss/passenger-page",
        "../scss/seats", "../scss/about", "../scss/ticket",
        "../scss/loading-screen", "../scss/payment","../scss/footer";

@import "../scss/responsive";